@charset "utf-8";

.container {
  width: 1100px;
  margin: 0 auto;
}

.width--800px {
  width: 800px;
}

/* h3 {
  margin: 0;
} */

button:hover {
  cursor: pointer;
}

.bar {
  /* display: flex; */
  width: 4px;
  height: 24px;
  background-color: var(--main-color-yel);
  margin-right: 5px;
}

#post__text-btn {
  background-color: var(--main-color-yel);
  width: 60px;
  height: 25px;
  margin: 5px 0 10px 5px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.btn__content {

}

/* .main-container{
  display: flex;
  height: 900px;
  padding: 0px;
}

.main-menu {
  flex: 1;
  border-right: 2px solid var(--main-color-gre);
  padding-top: 50px;
  height: 700px;
}

.main-menu h3 {
  color: var(--main-color-yel);
}

.main-menu li {
  font-size: 18px;
  margin: 10px 0px 0px 20px;
  padding: 5px 0px 5px 10px;
  width: 125px;
}

.main-menu li:hover {
  background-color: var(--main-color-gre);
  border-radius: 10px;
  transition: all 0.5s;
}

.main-menu li a {
  display: block;
}

.main-menu li a i {
  margin-right: 7px;
  color: var(--main-color-yel);
} */

.notice__board{
  display: flex;
  flex-direction: column;
  flex: 5;
  margin-top: 50px;
  margin-left: 50px;

}


.notice__board .notice-title h3 {
  display: flex;
}


/* notice-board__list area */
.notice-board__table {
  font-size: 13px;
  width: 100%;
  border-top: 1px solid var(--main-color-gre);
  border-bottom: 1px solid var(--main-color-gre);
  border-spacing: 0px;
}

.notice-board__table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}

.notice-board__table thead tr{
  background-color: #e0e0e0;
}

.notice-board__table a:hover {
  text-decoration: underline;
}

.notice-board__table th {
  text-align: center;
}

.notice-board__table .th-num {
  width: 100px;
  text-align: center;
}

.notice-board__table .th-date {
  width: 200px;
}

.notice-board__table th,
.board-table td {
  padding: 14px 0;
}

.notice-board__table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}


.notice-board__table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

.check__del {
  border: none;
  padding-left: 11px;
  padding-top: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 12px;
}



.btn__content {
  display: flex;
  justify-content: flex-end;
}

.btn__text {
  background-color: var(--main-color-yel);
  width: 60px;
  height: 25px;
  margin: 5px 0 10px 5px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.pagination li {
  float: left;
}

.pagination li a {
  padding: 4px;
  margin-right: 3px;
  width: 15px;
  color: #000;
  font: bold 12px tahoma;
  text-align: center;
  text-decoration: none;
}

/* notice-board__search */
.notice-board__search {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.notice-board__search .notice-board__search-box {
  display: flex;
}

.notice-board__search .notice-board__search-box div {
  margin: 0px 3px;
}

.notice-board__search-box select {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid var(--main-color-gre);
}

.notice-board__search-box .notice-board__search-keyword {
  border: 1px solid var(--main-color-gre);
  border-radius: 8px;
  padding: 1px;
}

.notice-board__search-box .notice-board__search-keyword input {
  border: none;
}

.btn__search {
  background-color: var(--main-color-gre);
  cursor: pointer;
  border: none;
}