@charset "utf-8";

.width--1000px {
  width: 1000px;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

.board__write__content {
  margin-top: 10px;
}

.board-write__content{
  margin-top: 10px;
}

.notice-board content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px 200px 0px;
}
.notice-board__complete{
  display: flex;
  justify-content: end;
}

.notice__write-information{
  display: flex;
  justify-content: end;
}

/* notice-board__title */
.notice-board__title {
  border-bottom: 1px solid black;

}

.bar {
  display: flex;
  width: 4px;
  height: 36px;
  background-color: var(--main-color-yel);
}

.notice-board__title h2 {
  display: flex;
  font-size: 28px;
  color: #333333;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}



/* notice-board__head */
.notice-board__head {
  display: flex;
  margin: 20px 0;
  align-items: center;
  justify-content: initial;
}

.notice-board__headtitle{
  display: flex;
  flex: none;
  align-items: baseline;
  font-weight: bold;
  font-size: 15px;
}

.notice-board__headtitle input {
  flex: none;
  margin-bottom: 10px;
  width:   1000px;
  box-sizing: border-box;
  height: 30px;
  border: 1px solid var(--mainBtn-color-gre);
}


/* notice-board__tool */

.notice-board__tool {
  background-color: var(--main-color-gre);
}

.notice-board__box ul {
  display: flex;
  align-items: center;
  height: 30px;
}

.notice-board__box ul li button {
  border: none;
}

.notice-board__box ul li select {
  background-color: var(--main-color-gre);
  border: none;
}

/* notice-board-main */
.notice-board__content {
  width: 100%;
  height: 500px;
  border: 1px solid var(--mainBtn-color-gre);
  box-sizing: border-box;
  resize: none;
}

/* notice-board__complete */
.notice-board__complete {
  display: flex;
  justify-content: flex-end;
  
}

.notice-boar_d_complete button {
  width: 60px;
  height: 25px;
  margin: 5px 0 10px 5px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.notice-board__cancel-btn {
  background-color: var(--mainBtn-color-gre);
  width: 60px;
  height: 25px;
  margin: 5px 0 10px 5px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.notice-board__complete-btn {
  background-color: var(--main-color-yel);
  width: 60px;
  height: 25px;
  margin: 5px 0 10px 5px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

