<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{layout/common_ui::common_Head}"></th:block>
    <title>판매글 보기 | GREAT</title>
    <link rel="stylesheet" th:href="@{/css/product/product_view.css}">
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=035193584894ec4e375eb2ee909abe2f&libraries=services,clusterer,drawing"></script>
    <script type="text/javascript" defer th:src="@{/js/product/store_location.js}"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.3.1/classic/ckeditor.js"></script>
<!--    <script asyn defer th:src="@{/js/product/ckeditor.js}"></script>-->
    <style>
        .ck-editor__top{
            display:none;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <header th:replace="~{layout/common_ui::choose_header}"></header>
    <form th:object="${form}">
        <main class="main container">
            <article id="product-atf" class="product">
                <div class="product">
                    <div class="product-img">
                        <th:block th:if="${form.imageFiles}">
                            <th:block th:each="imageFile : ${form.imageFiles[0]}">
                                <img class="good_Img" th:src="@{/api/attach/img/{attachCode}/{storeFilename}(attachCode=${imageFile.code},storeFilename=${imageFile.storeFilename})}"
                                     alt="이미지를 불러올수 없습니다">
                            </th:block>
                        </th:block>
                        <th:block th:if="!(${form.imageFiles})">
                            <img src="/img/product/등록된 사진이 없습니다.png" alt="">
                        </th:block>

                    </div>
                    <div class="product-info">
                        <div class="p_store">
<!--                            <div class="store-profile">-->
<!--                                <img class="store-profile_img" src="/image/케이크.PNG" alt="">-->
<!--                            </div>-->
                            <div class="p_store-info">
                                <a href="">
                                    <span name="memStoreName" th:text="${form.member.memStoreName}"></span>
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="p_top">
                            <div class="pTitle">
                                <h3 name="p_title" th:text="${form.pTitle}"></h3>
                            </div>
                        </div>
                        <div class="p_middle">
                            <span id="discount_rate" name="discountRate" th:text="${form.discountRate}"></span>%
                            <span name="salePrice" th:text="${form.salePrice}"></span>
                            원
                        </div>
                        <div class="p_middle_bottom">
                            <span class="nomal-price" name="normalPrice" th:text="${form.normalPrice}"></span>원
                        </div>
                        <div class="info">
                            <dl>
                                <dt>제품명</dt>
                                <dd name="pName" th:text="${form.pName}"></dd>
                            </dl>
                            <dl>
                                <dt> 잔여 수량</dt>
                                <dd><span name="remainCount" th:text="${form.remainCount}"></span>개</dd>
                            </dl>
                            <dl>
                                <dt>마감시간</dt>
                                <dd name="deadline_time"  th:text="${#strings.substring(form.deadlineTime,0,16)}"></dd>
                            </dl>
                            <dl>
                                <dt>결제 가능 방식</dt>
                                <dd name="paymentOption" th:text="${form.paymentOption}"></dd>
<!--                                <dd>온라인 결제, 현장 결제</dd>-->
                            </dl>
                        </div>
                        <div class="product-btn">
                            <div class="wrapBtn" title="찜하기">
                                <button type="button" class="product-btn--like"><i class="fa-regular fa-heart"></i></button>
                            </div>
                            <div class="wrapBtn">
                                <button type="button" class="product-btn--buy"> 구매하기</button>
                            </div>
<!--                            <div class="wrapBtn" title="신고하기">-->
<!--                                <button type="button" class="product-btn&#45;&#45;like"><i class="fa-regular fa-bell"></i></button>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </article>

            <!-- nav -->
            <div class="tab-nab">
                <div class="nav_tab">
                    <a href="#s">
                        <span>상품소개</span>
                    </a>
                </div>
                <div class="nav_tab">
                    <a href="#ss">
                        <span>위치</span>
                    </a>
                </div>
<!--                <div class="nav_tab">-->
<!--                    <a href="">-->
<!--                        <span>댓글</span>-->
<!--                    </a>-->
<!--                </div>-->
            </div>

            <!-- 정보 -->
            <div class="goods_wrap">
                <div class="goods_info" id="s">
                    <h4>상품정보</h4>
                    <hr>
                    <textarea class="board-write__article-content" name="detailInfo" id="detailInfo" cols="30" rows="10"
                              placeholder="내용을 작성하세요." readonly autofocus th:text="*{detailInfo}"></textarea>
                </div>
                <!-- 가게 위치 지도 -->
                <hr>
                <div class="store_location" id="ss">
                    <span name="memStoreName" th:text=" '\''+ ${form.member.memStoreName} +'\'  가게 위치'"> </span>
                    <!-- 가게 위치 지도로 표시-->
                    <div id="map"> 
                    <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
                    <div class="custom_zoomcontrol radius_border">
                        <span onclick="zoomIn()">
                            <img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png"
                                 alt="확대">
                        </span>
                        <span onclick="zoomOut()"><img
                                src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png"
                                alt="축소"></span>
                    </div>
                </div>
                    <!-- 가게 위치로 돌아가는 버튼 -->
                    <button class="storeBtn" type="button" onclick="panTo()">가게위치</button>
                </div>
                <div id="reply">

                </div>
                <!-- 버튼 -->
                <div class="product_page_btn">
                    <button type="button" class="btn_list btn">목록</button>
                    <div th:if="${session.memType}=='owner'"style="block" >
                        <button type="button" class="btn_modify btn">수정</button>
                        <button type="button" class="btn_del btn">삭제</button>
                    </div>
                    <div th:if="${session.memType}=='customer'"style="none" >
                        <button type="button" class="btn_modify btn">수정</button>
                        <button type="button" class="btn_del btn">삭제</button>
                    </div>
                </div>
            </div>
        </main>
        <!-- //main -->
    </form>
    <footer th:replace="~{layout/common_ui::footer}"></footer>
</div>
<script asyn th:inline="javascript">
    //<!-- 목록 -->
    document.querySelector('.btn_list').addEventListener('click', e=>{
        console.log('수정');
        location.href = [[@{|/zonning|}]];
    });
    //<!-- 수정 -->
    document.querySelector('.btn_modify').addEventListener('click', e=>{
        console.log('수정');
        location.href = [[@{|/products/${form.pNumber}/edit|}]];
    });
    //<!-- 삭제 -->
    document.querySelector('.btn_del').addEventListener('click', e=>{
        if(!confirm('삭제하시겟습니까?')) return;
        console.log('삭제');
        location.href = [[@{|/products/${form.pNumber}/del|}]];
    });

    //ckeditor
    ClassicEditor
		.create( document.querySelector( '#detailInfo' ), {
		 plugin:['ListStyle','Markdown','MediaEmbed','MediaEmbedToolbar'],
			toolbar: {
				items: [
					'heading',
					'|',
					'underline',
					'bold',
					'italic',
					'link',
					'bulletedList',
					'numberedList',
					'todoList',
					'|',
					'outdent',
					'indent',
					'|',
					'imageInsert',
					'imageUpload',
					'blockQuote',
					'insertTable',
					'mediaEmbed',
					'markdown',
					'undo',
					'redo',
					'|',
					'highlight',
					'fontFamily',
					'fontColor',
					'fontBackgroundColor',
					'fontSize',
					'|',
					'htmlEmbed',
					'specialCharacters'
				]
			},
			language: 'en',
			image: {
				toolbar: [
					'imageTextAlternative',
					'imageStyle:full',
					'imageStyle:side'
				]
			},
			table: {
				contentToolbar: [
					'tableColumn',
					'tableRow',
					'mergeTableCells',
					'tableCellProperties',
					'tableProperties'
				]
			},
		})
		.then( editor => {
			window.editor = editor;
			editor.isReadOnly = true;  //읽기모드적용
		} )
		.catch( error => {
			console.error( error );
		} );
</script>
</body>
</html>
