<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/common/common.css">
  <link rel="stylesheet" href="/css/articleViewer.css">
  <script src="https://kit.fontawesome.com/038578f405.js" crossorigin="anonymous"></script>
  <title>GREAT 게시글</title>
</head>

<body>
  <div class="wrapper">
    <header class="header container">
      <nav class="top-menu content">
        <a href="" class="top-menu__join">회원가입</a>
        <a href="" class="top-menu__login">로그인</a>
        <a href="" class="top-menu__cs">고객센터</a>
      </nav>
      <div class="logo content"><a href="">GR<span>EAT</span></a></div>
      <nav class="bottom-menu content">
        <div class="category">
          <ul>
            <li class="food-category">업종별 카테고리
              <ul>
                <li><a href="">한식</a></li>
                <li><a href="">중식</a></li>
                <li><a href="">일식</a></li>
                <li><a href="">양식</a></li>
                <li><a href="">아시안식</a></li>
                <li><a href="">분식</a></li>
                <li><a href="">도시락</a></li>
                <li><a href="">카페/디저트</a></li>
              </ul>
            </li>
            <li class="region-category">지역별 카테고리
              <ul>
                <li><a href="">서울</a></li>
                <li><a href="">인천</a></li>
                <li><a href="">대전</a></li>
                <li><a href="">광주</a></li>
                <li><a href="">대구</a></li>
                <li><a href="">울산</a></li>
                <li><a href="">부산</a></li>
                <li><a href="">제주</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="search">
          <input type="text" class="search__search-box" placeholder="  검색어를 입력하세요.">
          <a href="" class="search__search-icon"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
      </nav>
    </header>
    <main class="main container">
      <div class="article ">

        <div class="article__header width--900px">
          <a href="" class="article__bullet"><i class="bar"></i><span>울산</span></a>
          <h2 class="article__title">글 제목</h2>
          <div class="article__information">
            <div class="article__profile">
              <a href=""><img src="./img/profile.jpg" alt=""></i></a>
              <a href="">user</a>
            </div>
            <div class="article__write-information">
              <span class="font-size--12px">조회 98</span>
              <span class="font-size--12px">2022.08.01 13:48</span>
            </div>
          </div>
        </div>

        <div class="article__content width--900px">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, aperiam. Voluptas eaque modi eius, commodi
            culpa architecto! Tempore repellendus assumenda non numquam aliquid saepe, asperiores reprehenderit a
            sapiente consequuntur architecto.
            Iste veniam quod maiores voluptatem hic eos totam iure facere aut repellat aspernatur cupiditate alias
            tempora rem velit itaque inventore fuga cum eaque id, perferendis fugit sed. Debitis, architecto numquam.
            Necessitatibus ipsum deleniti, neque architecto provident possimus aliquid dolorum sequi eaque impedit
            perspiciatis adipisci, autem mollitia dolor laborum repellendus blanditiis porro quisquam incidunt,
            temporibus hic. Minima obcaecati harum cum officia?
            Culpa distinctio animi impedit tempora quas dolorum doloremque facilis minus voluptate? Obcaecati, hic ad
            magni excepturi, recusandae iste molestias illo quo adipisci beatae voluptatem ut et dignissimos fugit
            architecto quasi.
            Consequatur, debitis dignissimos? Vitae dicta magni suscipit possimus! Asperiores culpa expedita ratione sed
            numquam neque earum odit! Iste mollitia quod dolorem animi, corrupti omnis sint, optio ea asperiores magni
            voluptates. </p>

          <div class="article__btn-box">
            <button class="article__modify-btn">신고</button>
          </div>
        </div>

        <div class="comment width--900px">

          <div class="comment__title">
            <span><i class="fa-regular fa-comments"></i></span>
            <span>댓글</span>
            <span class="font-size--13px">5</span>
          </div>

          <div class="comment__list">
            <ul>
              <li class="writer">
                <div class="comment-box">
                  <div class="comment-box__profile">
                    <a href=""><img src="./img/profile.jpg" alt=""></a>
                  </div>
                  <div class="comment-box__contents">
                    <div class="comment-box__top">
                      <a href="" class="comment-box__nickname font-size--13px  ">닉네임</a>
                      <div class="comment-box__info">
                        <a class="comment-box__modify font-size--12px" href=""><i
                            class="fa-regular fa-pen-to-square"></i></a>
                        <a class="comment-box__delete font-size--12px" href=""><i
                            class="fa-regular fa-trash-can"></i></a>
                      </div>
                    </div>
                    <div class="comment-box__middle">
                      <p class="comment-box__text font-size--13px ">Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Maiores, excepturi!</p>
                    </div>
                    <div class="comment-box__bottom">
                      <span class="comment-box__date font-size--12px">2022.08.02 14:25</span>
                      <a class="comment-box__reply font-size--12px" href=""><i class="fa-solid fa-reply"></i></a>
                    </div>
                  </div>
                </div>
              </li>

              <li class="viewer">
                <div class="comment-box">
                  <div class="comment-box__profile">
                    <a href=""><img src="./img/profile.jpg" alt=""></a>
                  </div>
                  <div class="comment-box__contents">
                    <div class="comment-box__top">
                      <a href="" class="comment-box__nickname font-size--13px  ">닉네임</a>
                      <div class="comment-box__info">
                        <a class="comment-box__report font-size--12px" href=""><i class="fa-solid fa-flag"></i></a>
                      </div>
                    </div>
                    <div class="comment-box__middle">
                      <p class="comment-box__text font-size--13px ">Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Maiores, excepturi!</p>
                    </div>
                    <div class="comment-box__bottom">
                      <span class="comment-box__date font-size--12px">2022.08.02 14:25</span>
                      <a class="comment-box__reply font-size--12px" href=""><i class="fa-solid fa-reply"></i></a>
                    </div>
                  </div>
                </div>
              </li>

              <li class="comment__write">
                <div class="reply-box reply-write">
                  <div class="reply-box__top">
                    <span class="reply-box__nickname font-size--13px">닉네임</span>
                  </div>
                  <div class="reply-box__middle">
                    <textarea class="reply-box__text" name="" id="" cols="30" rows="10" placeholder="댓글을 입력하세요."
                      autofocus></textarea>
                  </div>
                  <div class="reply-box__bottom">
                    <button class="reply-box__register-btn font-size--12px" href="">등록</button>
                  </div>
                </div>
              </li>

              <li class="viewer">
                <div class="comment-box">
                  <div class="comment-box__profile">
                    <a href=""><img src="./img/profile.jpg" alt=""></a>
                  </div>
                  <div class="comment-box__contents">
                    <div class="comment-box__top">
                      <a href="" class="comment-box__nickname font-size--13px  ">닉네임</a>
                      <div class="comment-box__info">
                        <a class="comment-box__report font-size--12px" href=""><i class="fa-solid fa-flag"></i></a>
                      </div>
                    </div>
                    <div class="comment-box__middle">
                      <p class="comment-box__text font-size--13px ">Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Maiores, excepturi!</p>
                    </div>
                    <div class="comment-box__bottom">
                      <span class="comment-box__date font-size--12px">2022.08.02 14:25</span>
                      <a class="comment-box__reply font-size--12px" href=""><i class="fa-solid fa-reply"></i></a>
                    </div>
                  </div>
                </div>
              </li>

              <li class="reply-viewer">
                <div class="comment-box">
                  <div class="comment-box__profile">
                    <a href=""><img src="./img/profile.jpg" alt=""></a>
                  </div>
                  <div class="comment-box__contents">
                    <div class="comment-box__top">
                      <a href="" class="comment-box__nickname font-size--13px  ">닉네임</a>
                      <div class="comment-box__info">
                        <a class="comment-box__report font-size--12px" href=""><i class="fa-solid fa-flag"></i></a>
                      </div>
                    </div>
                    <div class="comment-box__middle">
                      <p class="comment-box__text font-size--13px ">Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Maiores, excepturi!</p>
                    </div>
                    <div class="comment-box__bottom">
                      <span class="comment-box__date font-size--12px">2022.08.02 14:25</span>
                      <a class="comment-box__reply font-size--12px" href=""><i class="fa-solid fa-reply"></i></a>
                    </div>
                  </div>
                </div>
              </li>

              <li class="reply-writer">
                <div class="comment-box">
                  <div class="comment-box__profile">
                    <a href=""><img src="./img/profile.jpg" alt=""></a>
                  </div>
                  <div class="comment-box__contents">
                    <div class="comment-box__top">
                      <a href="" class="comment-box__nickname font-size--13px  ">닉네임</a>
                      <div class="comment-box__info">
                        <a class="comment-box__modify font-size--12px" href=""><i
                            class="fa-regular fa-pen-to-square"></i></a>
                        <a class="comment-box__delete font-size--12px" href=""><i
                            class="fa-regular fa-trash-can"></i></a>
                      </div>
                    </div>
                    <div class="comment-box__middle">
                      <p class="comment-box__text font-size--13px ">Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Maiores, excepturi!</p>
                    </div>
                    <div class="comment-box__bottom">
                      <span class="comment-box__date font-size--12px">2022.08.02 14:25</span>
                      <a class="comment-box__reply font-size--12px" href=""><i class="fa-solid fa-reply"></i></a>
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>
          <div class="comment__write">
            <div class="reply-box">
              <div class="reply-box__top">
                <span class="reply-box__nickname font-size--13px">닉네임</span>
              </div>
              <div class="reply-box__middle">
                <textarea class="reply-box__text" name="" id="" cols="30" rows="10" placeholder="댓글을 입력하세요."
                  autofocus></textarea>
              </div>
              <div class="reply-box__bottom">
                <button class="reply-box__register-btn font-size--12px" href="">등록</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="article__bottom">
        <button class="prev-page-btn"><i class="fa-solid fa-angles-left"></i></button>
      </div>

    </main>
    <footer class="footer container">
      <p class="content"></p>
    </footer>
  </div>
</body>

</html>