<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/common/common.css">
  <link rel="stylesheet" href="/css/articleWriter.css">
  <script src="https://kit.fontawesome.com/038578f405.js" crossorigin="anonymous"></script>
  <script th:src="@{/common/js/ckeditor.js}"></script>
  <title>GREAT 게시글 - 작성자</title>
</head>

<body>
<div class="wrapper">
  <header class="header container">
    <nav class="top-menu content">
      <a href="#" class="top-menu__join">회원가입</a>
      <a href="#" class="top-menu__login">로그인</a>
      <a href="#" class="top-menu__cs">고객센터</a>
    </nav>
    <div class="logo content"><a href="#">GR<span>EAT</span></a></div>
    <nav class="bottom-menu content">
      <div class="category">
        <ul>
          <li class="food-category">업종별 카테고리
            <ul>
              <li><a href="#">한식</a></li>
              <li><a href="#">중식</a></li>
              <li><a href="#">일식</a></li>
              <li><a href="#">양식</a></li>
              <li><a href="#">아시안식</a></li>
              <li><a href="#">분식</a></li>
              <li><a href="#">도시락</a></li>
              <li><a href="#">카페/디저트</a></li>
            </ul>
          </li>
          <li class="region-category">지역별 카테고리
            <ul>
              <li><a href="#">서울</a></li>
              <li><a href="#">인천</a></li>
              <li><a href="#">대전</a></li>
              <li><a href="#">광주</a></li>
              <li><a href="#">대구</a></li>
              <li><a href="#">울산</a></li>
              <li><a href="#">부산</a></li>
              <li><a href="#">제주</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="search">
        <input type="text" class="search__search-box" placeholder="  검색어를 입력하세요.">
        <a href="#" class="search__search-icon"><i class="fa-solid fa-magnifying-glass"></i></a>
      </div>
    </nav>
  </header>
  <main class="main container">
    <div class="article" th:action th:object="${articleForm}">

      <div class="article__header width--900px">
        <a href="/community/list" class="article__bullet"><i class="bar"></i><span th:text="*{articleCategory}">울산</span></a>
        <h2 class="article__title" th:text="*{articleTitle}">글 제목</h2>
        <div class="article__information">
          <div class="article__profile">
            <a href="#"><img class="profileImage" src="/img/profile.jpg" alt=""></i></a>
            <a href="#" th:text="*{member.memNickname}">user</a>
          </div>
          <div class="article__write-information">
            <span class="font-size--12px" th:text="*{{createDate}}">2022.08.01 13:48</span>
            <span class="font-size--12px" th:text="|조회  *{views}|">조회 98</span>
          </div>
        </div>
      </div>

      <div class="article__content width--900px">
          <textarea class="board-write__article-content" name="" id="articleContents" cols="30" rows="10"
                    placeholder="내용을 작성하세요." autofocus th:text="*{articleContents}"></textarea>
        <form th:action="@{/community/edit/{id}(id=${articleForm.articleNum})}">
          <div class="article__btn-box">
            <button id="article__modify-btn">수정</button>
            <button id="article__delete-btn" type="button">삭제</button>
          </div>
        </form>

      </div>

      <div class="comment width--900px">

        <div class="comment__title">
          <span><i class="fa-regular fa-comments"></i></span>
          <span>댓글</span>
          <span class="font-size--13px" id="commentsCnt" th:text="*{comments}">5</span>
        </div>

        <div class="comment__list">
          <ul id="commentList">
            <li class="writer">
              <div class="comment-box">
                <div class="comment-box__profile">
                  <a href="#"><img src="/img/profile.jpg" class="profileImage" alt=""></a>
                </div>
                <div class="comment-box__contents">
                  <div class="comment-box__top">
                    <a href="#" class="comment-box__nickname font-size--13px  ">닉네임</a>
                    <div class="comment-box__info">
                      <a class="comment-box__modify font-size--12px" href="#"><i
                          class="fa-regular fa-pen-to-square"></i></a>
                      <a class="comment-box__delete font-size--12px" href="#"><i
                          class="fa-regular fa-trash-can"></i></a>
                    </div>
                  </div>
                  <div class="comment-box__middle">
                    <p class="comment-box__text font-size--13px ">Lorem ipsum dolor, sit amet consectetur adipisicing
                      elit. Maiores, excepturi!</p>
                  </div>
                  <div class="comment-box__bottom">
                    <span class="comment-box__date font-size--12px">2022.08.02 14:25</span>
                    <a class="comment-box__reply font-size--12px" href="#"><i class="fa-solid fa-reply"></i></a>
                  </div>
                </div>
              </div>
            </li>

            <li class="viewer">
              <div class="comment-box">
                <div class="comment-box__profile">
                  <a href="#"><img src="/img/profile.jpg"  class="profileImage" alt=""></a>
                </div>
                <div class="comment-box__contents">
                  <div class="comment-box__top">
                    <a href="#" class="comment-box__nickname font-size--13px  ">닉네임</a>
                    <div class="comment-box__info">
                      <a class="comment-box__report font-size--12px" href="#"><i class="fa-solid fa-flag"></i></a>
                    </div>
                  </div>
                  <div class="comment-box__middle">
                    <p class="comment-box__text font-size--13px ">Lorem ipsum dolor, sit amet consectetur adipisicing
                      elit. Maiores, excepturi!</p>
                  </div>
                  <div class="comment-box__bottom">
                    <span class="comment-box__date font-size--12px">2022.08.02 14:25</span>
                    <a class="comment-box__reply font-size--12px" href="#"><i class="fa-solid fa-reply"></i></a>
                  </div>
                </div>
              </div>
            </li>

            <li class="comment__write">
              <div class="reply-box reply-write">
                <div class="reply-box__top">
                  <span class="reply-box__nickname font-size--13px">닉네임</span>
                </div>
                <div class="reply-box__middle">
                    <textarea class="reply-box__text" name="" id="commentReplyTextarea" cols="30" rows="10" placeholder="댓글을 입력하세요."
                              autofocus></textarea>
                </div>
                <div class="reply-box__bottom">
                  <button class="reply-box__register-btn font-size--12px" href="#">취소</button>
                  <button class="reply-box__register-btn font-size--12px" href="#">등록</button>
                </div>
              </div>
            </li>

            <li class="viewer">
              <div class="comment-box">
                <div class="comment-box__profile">
                  <a href="#"><img src="/img/profile.jpg" class="profileImage" alt=""></a>
                </div>
                <div class="comment-box__contents">
                  <div class="comment-box__top">
                    <a href="#" class="comment-box__nickname font-size--13px  ">닉네임</a>
                    <div class="comment-box__info">
                      <a class="comment-box__report font-size--12px" href="#"><i class="fa-solid fa-flag"></i></a>
                    </div>
                  </div>
                  <div class="comment-box__middle">
                    <p class="comment-box__text font-size--13px ">Lorem ipsum dolor, sit amet consectetur adipisicing
                      elit. Maiores, excepturi!</p>
                  </div>
                  <div class="comment-box__bottom">
                    <span class="comment-box__date font-size--12px">2022.08.02 14:25</span>
                    <a class="comment-box__reply font-size--12px" href="#"><i class="fa-solid fa-reply"></i></a>
                  </div>
                </div>
              </div>
            </li>

            <li class="reply-viewer">
              <div class="comment-box">
                <div class="comment-box__profile">
                  <a href="#"><img src="/img/profile.jpg" class="profileImage" alt=""></a>
                </div>
                <div class="comment-box__contents">
                  <div class="comment-box__top">
                    <a href="#" class="comment-box__nickname font-size--13px  ">닉네임</a>
                    <div class="comment-box__info">
                      <a class="comment-box__report font-size--12px" href="#"><i class="fa-solid fa-flag"></i></a>
                    </div>
                  </div>
                  <div class="comment-box__middle">
                    <p class="comment-box__text font-size--13px ">Lorem ipsum dolor, sit amet consectetur adipisicing
                      elit. Maiores, excepturi!</p>
                  </div>
                  <div class="comment-box__bottom">
                    <span class="comment-box__date font-size--12px">2022.08.02 14:25</span>
                    <a class="comment-box__reply font-size--12px" href="#"><i class="fa-solid fa-reply"></i></a>
                  </div>
                </div>
              </div>
            </li>

            <li class="reply-writer">
              <div class="comment-box">
                <div class="comment-box__profile">
                  <a href="#"><img src="/img/profile.jpg"  class="profileImage" alt=""></a>
                </div>
                <div class="comment-box__contents">
                  <div class="comment-box__top">
                    <a href="#" class="comment-box__nickname font-size--13px  ">닉네임</a>
                    <div class="comment-box__info">
                      <a class="comment-box__modify font-size--12px" href="#"><i
                          class="fa-regular fa-pen-to-square"></i></a>
                      <a class="comment-box__delete font-size--12px" href="#"><i
                          class="fa-regular fa-trash-can"></i></a>
                    </div>
                  </div>
                  <div class="comment-box__middle">
                    <p class="comment-box__text font-size--13px ">Lorem ipsum dolor, sit amet consectetur adipisicing
                      elit. Maiores, excepturi!</p>
                  </div>
                  <div class="comment-box__bottom">
                    <span class="comment-box__date font-size--12px">2022.08.02 14:25</span>
                    <a class="comment-box__reply font-size--12px" href="#"><i class="fa-solid fa-reply"></i></a>
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>
        <div class="comment__write">
          <div class="reply-box">
            <div class="reply-box__top">
              <span class="reply-box__nickname font-size--13px">닉네임</span>
            </div>
            <div class="reply-box__middle">
                <textarea class="reply-box__text" name="" id="commentInputBox" cols="30" rows="10" placeholder="댓글을 입력하세요."
                          autofocus></textarea>
            </div>
            <div class="reply-box__bottom">
              <div class="filebox">
                <label for="imageFile"><i class="fa-regular fa-image"></i></label>
                <input type="text" id="fileName" value=""  readonly>
                <input type="file" accept="image/*" id="imageFile">
              </div>
              <button id="commentSaveBtn" class = "font-size--12px" href="#">등록</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="article__bottom">
      <button id="prev-page-btn"><i class="fa-solid fa-angles-left"></i></button>
    </div>

  </main>
  <footer class="footer container">
    <p class="content"></p>
  </footer>
</div>
<script>
    //게시글
    //게시글 번호
    const id = [[${articleForm.articleNum}]];

    //게시글 삭제 버튼 클릭
    const $delBtn = document.getElementById('article__delete-btn');
    $delBtn.addEventListener('click', e => {
      console.log("삭제 버튼 클릭");
      if (!confirm('게시글을 삭제하시겠습니까?')) return;
      deleteById(id);
    });

    //게시글 삭제 함수
    function deleteById(id) {
      console.log(id);
      const url = `http://localhost:9080/community/article/${id}/del`;
      fetch(url, {
        method: 'DELETE'
      }).then(res => {
        location.href = '/community/list';
      }).catch(err => console.log(err));
    }

    //이전 페이지 버튼 클릭
    const $prevPageBtn = document.getElementById('prev-page-btn');
    $prevPageBtn.addEventListener('click', e => {
      location.href = '/community/list';
    });

    //댓글
    //댓글 목록 조회
    findAll(id);

    //댓글 수 실시간 카운팅 함수
    function commentCountFnc(){
      document.querySelector('#commentsCnt').textContent = document.getElementsByClassName('comment-box').length;
    }

    //댓글 목록 조회 함수
    function findAll(id){
      const url = `http://localhost:9080/comment/list/${id}`;
      fetch(url,{
        method:'GET',
        headers:{
          'Accept':'application/json'
        }
      }).then(res=>res.json())
        .then(res=>{
          console.log(res);
          if(res.header.rtcd == '00'){
            const result =
              res.data.map(comment=>{
                return `
                  <li id="${comment.commentNum}" data-comment-group="${comment.commentGroup}" data-member-nickname="${comment.member.memNickname}" class="writer" >
                  <div class="comment-box ${comment.reply}">
                    <div class="comment-box__profile" >
                      <a href="#"><img src="/img/profile.jpg" class="profileImage" alt=""></a>
                    </div>
                    <div class="comment-box__contents">
                      <div class="comment-box__top">
                        <span href="#" class="font-size--13px" id="comment-box__nickname">${comment.member.memNickname}</span>
                        <div class="comment-box__info">
                          <a class="comment-box__modify font-size--12px" href="#" name="commentEditBtn"><i
                              class="fa-regular fa-pen-to-square"></i></a>
                          <a class="comment-box__delete font-size--12px" href="#" name="commentDeleteBtn"><i
                              class="fa-regular fa-trash-can"></i></a>
                        </div>
                      </div>
                      <div class="comment-box__middle">
                        <p class="comment-box__text font-size--13px ">${comment.commentContents.replaceAll("<br>", "\r\n")}</p>
                      </div>
                      <div class="comment-box__bottom">
                        <span class="comment-box__date font-size--12px">${comment.createDate}</span>
                        <a class="comment-box__reply font-size--12px" href="#" name="commentReplyBtn"><i class="fa-solid fa-reply"></i></a>
                      </div>
                    </div>
                  </div>
                </li>
                `;
              });
              console.log(result.join(''));
              document.querySelector('#commentList').innerHTML=result.join('');
              commentCountFnc();
          }else{
            console.log('목록 불러오기 실패');
          }
        }).catch(err=>console.log(err));
    }

    //댓글 작성 폼 데이터 객체 생성
    const commentAddForm = new FormData();

    //댓글 수정 폼 데이터 객체 생성
    const commentEditForm = new FormData();

    //댓글 작성 폼 데이터 초기화 함수
    function resetCommentAddForm(){
      commentAddForm.delete('articleNum');
      commentAddForm.delete('commentGroup');
      commentAddForm.delete('pCommentNum');
      commentAddForm.delete('step');
      commentAddForm.delete('commentOrder');
      commentAddForm.delete('pCommentNickname');
      commentAddForm.delete('memNumber');
      commentAddForm.delete('commentContents');
      commentAddForm.delete('files');
      commentAddForm.delete('reply');
    }

    //댓글 수정 폼 데이터 초기화 함수
    function resetCommentEidtForm(){
      commentEditForm.delete('commentNum');
      commentEditForm.delete('commentContents');
    }

    //댓글 등록 버튼 클릭
    commentSaveBtn.addEventListener('click',e=>{
      console.log("댓글 등록 버튼 클릭!")
      console.log(e.target.closest('li'));
      if(e.target.closest('li') == null)(
        console.log('없다')
      );
      //1)유효성 체크
      //2)입력 데이터 가져오기
      commentAddForm.append('articleNum',id);
      commentAddForm.append('commentGroup','');
      commentAddForm.append('pCommentNum','');
      commentAddForm.append('step','0');
      commentAddForm.append('commentOrder','0');
      commentAddForm.append('pCommentNickname',' ');
      commentAddForm.append('memNumber','1'); //세션 설정 후 수정
      commentAddForm.append('commentContents',commentInputBox.value.replace(/(?:\r\n|\r|\n)/g, '<br>'));
      commentAddForm.append('reply','N');
      //commentAddForm.append('files', imageFile.files[0]); //댓글 수정까지 만들고 문제 해결

      //3)댓글 등록 처리
      addComment(commentAddForm);
      //4)폼 데이터 초기화
      resetCommentAddForm();
      //5)댓글 입력창 초기화
      commentInputBox.value = '';
    });

    //댓글 등록 함수
    function addComment(commentAddForm){
      console.log(commentAddForm);
      const url = `http://localhost:9080/comment/write/${id}`;
      fetch(url,{
        method:'POST',
        body: commentAddForm
      }).then(res => res.json())
        .then(data => {
          console.log(data);
          findAll(id);
        })
        .catch(err => console.log(err));
    }

    //답댓글 작성 버튼 클릭
    commentList.addEventListener('click',e=>{
      e.preventDefault();
      if(e.target.parentElement.name == 'commentReplyBtn'){
        console.log('답댓글 작성 버튼 클릭!');
        if(document.getElementsByClassName('comment__write').length == 2) return;
        const replyBox = `<li class="comment__write" id="commentReplyBox">
                <div class="reply-box reply-write">
                  <div class="reply-box__top">
                    <span class="reply-box__nickname font-size--13px">닉네임</span>
                  </div>
                  <div class="reply-box__middle">
                    <textarea class="reply-box__text" name="" id="commentReplyTextarea" cols="30" rows="10" placeholder="댓글을 입력하세요."
                      autofocus></textarea>
                  </div>
                  <div class="reply-box__bottom">
                    <div class="filebox">
                      <label for="imageFile"><i class="fa-regular fa-image"></i></label>
                      <input type="text" id="fileName" value=""  readonly>
                      <input type="file" accept="image/*" id="imageFile">
                    </div>
                    <div>
                      <button class="font-size--12px" id="replyCancelBtn" href="#">취소</button>
                      <button class="font-size--12px" id="replySaveBtn" href="#">등록</button>
                    </div>
                  </div>
                </div>
              </li>`;
        e.target.closest('li').insertAdjacentHTML('afterend',replyBox);

        //답댓글 작성 취소 버튼 클릭
        replyCancelBtn?.addEventListener('click',e=>{
          console.log('답댓글 작성 취소 버튼 클릭');
          e.target.closest('li').remove();
        });

        //답댓글 작성 완료 버튼 클릭
        replySaveBtn?.addEventListener('click',e=>{
          console.log(e.target.closest('li').previousSibling);
          console.log(e.target.closest('li').previousSibling.id);
          console.log(e.target.closest('li').previousSibling.dataset.commentGroup);
          //1)유효성 체크
          //2)입력 데이터 가져오기
          commentAddForm.append('articleNum',id);
          commentAddForm.append('commentGroup',e.target.closest('li').previousSibling.dataset.commentGroup);
          commentAddForm.append('pCommentNum',e.target.closest('li').previousSibling.id);
          commentAddForm.append('step','0');
          commentAddForm.append('commentOrder','0');
          commentAddForm.append('pCommentNickname',e.target.closest('li').previousSibling.dataset.memberNickname);
          commentAddForm.append('memNumber','1'); //세션 설정 후 수정
          commentAddForm.append('commentContents',commentReplyTextarea.value.replace(/(?:\r\n|\r|\n)/g, '<br>'));
          commentAddForm.append('reply','Y');
          commentAddForm.append('files',''); //댓글 수정까지 만들고 문제 해결
          //3)댓글 등록 처리
          addComment(commentAddForm);
          //4)폼 데이터 초기화
          resetCommentAddForm();
          //5)답댓글 입력창 삭제
          e.target.closest('li').remove();
        });
      }

    });

    //댓글 수정 버튼 클릭
    commentList.addEventListener('click',e=>{
      e.preventDefault();
      if(e.target.parentElement.name == 'commentEditBtn'){
        console.log('댓글 수정 버튼 클릭!');
        if(document.getElementsByClassName('comment__write').length == 2) return;
        const commentNum = e.target.closest('li').id;
        console.log(commentNum);
        commentEditWindow(commentNum);
      }
    });

    //댓글 수정창 출력 함수
    function commentEditWindow(commentNum){
      const url = `http://localhost:9080/comment/edit/${commentNum}`;
      fetch(url,{
        method:'GET'
      }).then(res => res.json())
        .then(data => {
          console.log(document.getElementById(commentNum));
          console.log(data);
          const editBox = `<li id="commentEditBox"><div class="comment__write">
            <div class="reply-box">
              <div class="reply-box__top">
                <span class="reply-box__nickname font-size--13px">${data.data.member.memNickname}</span>
              </div>
              <div class="reply-box__middle">
                <textarea class="reply-box__text" name="" id="commentEditTextarea" cols="30" rows="10" placeholder="댓글을 입력하세요."
                  autofocus>${data.data.commentContents}</textarea>
              </div>
              <div class="reply-box__bottom">
                <div class="filebox">
                  <label for="imageFile"><i class="fa-regular fa-image"></i></label>
                  <input type="text" id="fileName" value=""  readonly>
                  <input type="file" accept="image/*" id="imageFile">
                </div>
                <div>
                <button class="font-size--12px" id="editCancelBtn" href="#">취소</button>
                <button class = "font-size--12px" id="editSaveBtn" href="#">등록</button>
                </div>
              </div>
            </div>
          </div></li>`;

          document.getElementById(commentNum).insertAdjacentHTML('afterend',editBox);
          document.getElementById(commentNum).remove();

          //댓글 수정 취소 버튼 클릭
          editCancelBtn?.addEventListener('click',e=>{
            console.log('댓글 수정 취소 버튼 클릭');
            findAll(id);
          });

          //댓글 수정 완료 버튼 클릭
          editSaveBtn?.addEventListener('click',e=>{
            //1)유효성 체크
            //2)입력 데이터 가져오기 (댓글 번호, 댓글 내용)
            commentEditForm.append('commentNum',commentNum);
            commentEditForm.append('commentContents',commentEditTextarea.value.replace(/(?:\r\n|\r|\n)/g, '<br>'));
            //3)댓글 수정
            editComment(commentEditForm);
            //4)폼 데이터 리셋
            resetCommentEidtForm();
          });
        })
        .catch(err => console.log(err));
    }

    //댓글 수정 함수
    function editComment(commentEditForm){
      console.log(commentAddForm);
      const url = `http://localhost:9080/comment/edit/${commentEditForm.get('commentNum')}`;
      fetch(url,{
        method:'PATCH',
        body: commentEditForm
      }).then(res => res.json())
        .then(data => {
          console.log(data);
          findAll(id);
        })
        .catch(err => console.log(err));
    }


    //댓글 삭제 버튼 클릭
    commentList.addEventListener('click',e=>{
      e.preventDefault();
      if(e.target.parentElement.name == 'commentDeleteBtn'){
        console.log('삭제 버튼 클릭!');
        if(!confirm('댓글을 삭제하시겠습니까?')) return;
        const commentNumToDelete = e.target.closest('li').id;
        deleteComment(commentNumToDelete);
      }
    });

    //댓글 삭제 함수
    function deleteComment(commentNum) {
      const url = `http://localhost:9080/comment/delete/${commentNum}`;
      fetch(url, {
        method: 'DELETE'
      }).then(res => {
        findAll(id);
      }).catch(err => console.log(err));
  }

    //사진첨부
    imageFile.addEventListener('change',()=>{
      fileName.value = imageFile.files[0].name;
    })


    //ckeditor
    ClassicEditor
		.create( document.querySelector( '#articleContents' ), {
		 plugin:['ListStyle','Markdown','MediaEmbed','MediaEmbedToolbar'],
			toolbar: {
				items: [
					'heading',
					'|',
					'underline',
					'bold',
					'italic',
					'link',
					'bulletedList',
					'numberedList',
					'todoList',
					'|',
					'outdent',
					'indent',
					'|',
					'imageInsert',
					'imageUpload',
					'blockQuote',
					'insertTable',
					'mediaEmbed',
					'markdown',
					'undo',
					'redo',
					'|',
					'highlight',
					'fontFamily',
					'fontColor',
					'fontBackgroundColor',
					'fontSize',
					'|',
					'htmlEmbed',
					'specialCharacters'
				]
			},
			language: 'en',
			image: {
				toolbar: [
					'imageTextAlternative',
					'imageStyle:full',
					'imageStyle:side'
				]
			},
			table: {
				contentToolbar: [
					'tableColumn',
					'tableRow',
					'mergeTableCells',
					'tableCellProperties',
					'tableProperties'
				]
			},
		})
		.then( editor => {

			window.editor = editor;
			editor.isReadOnly = true;  //읽기모드적용
		} )
		.catch( error => {
			console.error( error );
		} );
  </script>
</body>

</html>