<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/common/common.css">
  <link rel="stylesheet" href="/css/community/writeForm.css">
  <script src="https://kit.fontawesome.com/038578f405.js" crossorigin="anonymous"></script>
  <script th:src="@{/js/common/ckeditor.js}"></script>
  <title>GREAT 게시글 작성</title>
</head>

<body>
<div class="wrapper">
  <header class="header container">
    <nav class="top-menu content">
      <a href="" class="top-menu__join">회원가입</a>
      <a href="" class="top-menu__login">로그인</a>
      <a href="" class="top-menu__cs">고객센터</a>
    </nav>
    <div class="logo content"><a href="">GR<span>EAT</span></a></div>
    <nav class="bottom-menu content">
      <div class="category">
        <ul>
          <li class="food-category">업종별 카테고리
            <ul>
              <li><a href="">한식</a></li>
              <li><a href="">중식</a></li>
              <li><a href="">일식</a></li>
              <li><a href="">양식</a></li>
              <li><a href="">아시안식</a></li>
              <li><a href="">분식</a></li>
              <li><a href="">도시락</a></li>
              <li><a href="">카페/디저트</a></li>
            </ul>
          </li>
          <li class="region-category">지역별 카테고리
            <ul>
              <li><a href="">서울</a></li>
              <li><a href="">인천</a></li>
              <li><a href="">대전</a></li>
              <li><a href="">광주</a></li>
              <li><a href="">대구</a></li>
              <li><a href="">울산</a></li>
              <li><a href="">부산</a></li>
              <li><a href="">제주</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="search">
        <input type="text" class="search__search-box" placeholder="  검색어를 입력하세요.">
        <a href="" class="search__search-icon"><i class="fa-solid fa-magnifying-glass"></i></a>
      </div>
    </nav>
  </header>
  <main class="main container">
    <div class="board-write content">
      <div class="board-write__title width--900px">
        <h2><i class="bar"></i>글쓰기</h2>
      </div>
      <div class="board-write__article-head width--900px">
        <div class="board-write__article-bullet">
          <select name="" id="articleCategory">
<!--            <option value="전체">전체</option>-->
            <option value="남구">남구</option>
            <option value="중구">중구</option>
            <option value="동구">동구</option>
            <option value="북구">북구</option>
            <option value="울주군">울주군</option>
            <option value="문의">문의</option>
          </select>
        </div>
        <div class="board-write__article-title">
          <input type="text" name="" id="articleTitle" placeholder="제목을 입력하세요." autofocus>
        </div>
      </div>
      <div class="board-write__article-main width--900px">
          <textarea class="board-write__article-content" name="" id="articleContents" cols="30" rows="10"
                    placeholder="내용을 작성하세요." autofocus></textarea>
      </div>
      <form class="board-write__complete width--900px" th:action="@{/community}">
        <button id="cancelBtn" type="button">취소</button>
        <button id="addBtn" type="button">등록</button>
      </form>
    </div>

  </main>
  <footer class="footer container">
    <p class="content"></p>
  </footer>
</div>

<script>
    //등록 버튼 클릭
    addBtn.addEventListener('click', e => {
      console.log("등록 버튼 클릭");
      //1)유효성 체크
      if (!validChk()) return;
      //2)입력 데이터 가져오기
      const attachmentValue = document.getElementsByTagName('img').length > 0 ? 'Y' : 'N';
      const article = {
        memNumber : 1,
        articleCategory : articleCategory.options[articleCategory.selectedIndex].value,
        articleTitle : articleTitle.value,
        articleContents : window.editor.getData(),
        attachment : attachmentValue
      };
      //3)게시글 등록 처리
      add(article);
    });

    //게시글 등록 함수
    function add(article) {
      console.log(article);
      const url = `http://localhost:9080/community/write`;
      fetch(url, {
        method: 'POST',
        headers:{
          'Content-Type':'application/json',
          'Accept':'application/json'
        },
        body: JSON.stringify(article) 
      }).then(res => res.json())
        .then(data => {
          location.href = `/community/article/${data.data.articleNum}`;
        })
        .catch(err => console.log(err));
    }

    //취소 버튼 클릭
    cancelBtn.addEventListener('click', e => {
      if (!confirm('게시글 작성을 취소하시겠습니까?')) return;
      location.href = `/community/list`;
    });

    //유효성 체크 함수
    function validChk() {
      const regex = / /gi;
      //제목 입력 필수
      if (articleTitle.value.replace(regex, '').length == 0) {
        alert('제목을 입력해주세요.');
        return;
      }
      //제목 50자 이하
      if (articleTitle.value.length > 50) {
        alert('제목은 50자 이내여야합니다.');
        return;
      }
      //내용 입력 필수
      if (window.editor.getData().length == 0) {
        alert('내용을 입력해주세요.');
        return;
      }
      return true;
    }

    //ckeditor
    ClassicEditor
		.create( document.querySelector( '#articleContents' ), {
		 plugin:['ListStyle','Markdown','MediaEmbed','MediaEmbedToolbar'],
			toolbar: {
				items: [
					'heading',
					'|',
					'underline',
					'bold',
					'italic',
					'link',
					'bulletedList',
					'numberedList',
					'todoList',
					'|',
					'outdent',
					'indent',
					'|',
					'imageInsert',
					'imageUpload',
					'blockQuote',
					'insertTable',
					'mediaEmbed',
					'markdown',
					'undo',
					'redo',
					'|',
					'highlight',
					'fontFamily',
					'fontColor',
					'fontBackgroundColor',
					'fontSize',
					'|',
					'htmlEmbed',
					'specialCharacters'
				]
			},
			language: 'en',
			image: {
				toolbar: [
					'imageTextAlternative',
					'imageStyle:full',
					'imageStyle:side'
				]
			},
			table: {
				contentToolbar: [
					'tableColumn',
					'tableRow',
					'mergeTableCells',
					'tableCellProperties',
					'tableProperties'
				]
			},
		})
		.then( editor => {

			window.editor = editor;
		} )
		.catch( error => {
			console.error( error );
		} );
</script>
</body>

</html>