<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <th:block th:replace="~{layout/common_ui::common_Head}"></th:block>
  <title>오늘 마감 할인 상품 | GREAT</title>
  <link rel="stylesheet" th:href="@{/css/product/음식 카테고리.css}">
  <script type="text/javascript" defer th:src="@{/js/main/zonning_list_csr.js}"></script>
</head>
<body>
<div class="wrapper">
  <header th:replace="~{layout/common_ui::choose_header}"></header>
  <main class="main container">
    <section class="title content">오늘 마감 할인 상품</section>
<!--    <section class="food-type">-->
<!--      <ul>-->
<!--        <li id="food-type_selected"><a href="">전체</a></li>-->
<!--        <li><a href="">한식</a></li>-->
<!--        <li><a href="">중식</a></li>-->
<!--        <li><a href="">일식</a></li>-->
<!--        <li><a href="">양식</a></li>-->
<!--        <li><a href="">아시안식</a></li>-->
<!--        <li><a href="">분식</a></li>-->
<!--        <li><a href="">도시락</a></li>-->
<!--        <li><a href="">디저트</a></li>-->
<!--      </ul>-->
<!--    </section>-->
    <div class="view_array">
      <div class="view_array-total">총 <span th:text="|${list.size}|"></span> 건</div>
      <div class="view_array-type">
        <ul>
          <li><a href="javascript: arrayType('recentList');">최신순</a></li>
          <li><a href="javascript: arrayType('discountListDesc');">높은 할인순</a></li>
          <li><a href="javascript: arrayType('priceList');">낮은 가격순</a></li>
          <li><a href="javascript: arrayType('priceListDesc');">높은 가격순</a></li>
        </ul>
      </div>
    </div>
    <!-- main에 리스트들 -->
    <section class="items content"></section>
  </main>
  <footer th:replace="~{layout/common_ui::footer}"></footer>
</div>
</body>
</html>