<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{layout/common_ui::common_Head}"></th:block>
    <title>지역별 | GREAT</title>
    <link rel="stylesheet" th:href="@{/css/product/음식 카테고리.css}">
</head>
<body>
<div class="wrapper">
    <header th:replace="~{layout/common_ui::header_nonmember}"></header>

    <main class="main container">
        <section class="title content">남구</section>
        <section class="food-type">
            <ul>
                <li id="food-type_selected"><a href="">전체</a></li>
                <li><a href="">한식</a></li>
                <li><a href="">중식</a></li>
                <li><a href="">일식</a></li>
                <li><a href="">양식</a></li>
                <li><a href="">아시안식</a></li>
                <li><a href="">분식</a></li>
                <li><a href="">도시락</a></li>
                <li><a href="">디저트</a></li>
            </ul>
        </section>
        <div class="view_array" >
            <div class="view_array-total">총 <span th:text="|${list.size}|"></span> 건</div>
            <div class="view_array-type">
                <ul>
                    <li><a href="">높은 할인순</a></li>
                    <li><a href="">낮은 가격순</a></li>
                    <li><a href="">높은 가격순</a></li>
                </ul>
            </div>
        </div>
        <!-- main에 리스트들 -->
        <section class="items content">
            <div class="item" th:each="rec : ${list}">
                <a th:href="@{/great/products/{pNumber}(pNumber=${(rec.pNumber)})}" class="item__image"><img src="https://cdn.imweb.me/thumbnail/20210628/f9482d3bbe416.jpg" alt=""></a>
                <button class="heart_Btn"><i class="fa-regular fa-heart"></i></button>
                <a href="/판매/product_view.html" class="item__title">[[${rec.pName}]]</a>
                <div class="item__price-box">
                    <div class="item__discount-rate">[[${rec.discountRate}]]%</div>
                    <div class="item__price--sale">[[${rec.salePrice}]]원</div>
                    <div class="item__price--normal">[[${rec.normalPrice}]]원</div>
                </div>
                <div class="item__time-box">
                    <div class="item__magam">마감시간</div>
                    <div class="item__time">06:00 P.M.</div>
                </div>
            </div>
        </section>
    </main>
    <footer th:replace="~{layout/common_ui::footer}"></footer>
</div>
</body>
</html>