@charset "UTF-8";

.main>h2{
    text-align: center;
}
.main > .join_tb {
    margin: 10px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.cusBtn {
    background-color: yellow;
}