@charset "UTF-8";

/* * { outline: 1px solid blueviolet;} */

#star {
    color: rgb(0, 0, 0);
}
.active {
    color: rgb(255, 203, 30);
}

h2 {
    text-align: center;
}
.profile-box {
    border-radius: 10px;
    outline: 1px solid black;
}
.profile > .profile-box > .photo > img {
    border-radius: 50%;
    width: 130px;
    height: 100px;
}

.profile > .profile-box {
    display: flex;
    padding: 20px;
    margin-bottom: 50px;
}

.profile > .profile-box >.photo {
    display: block;
    align-items: center;
}

.profile > .profile-box > .profile-info > table > tbody > tr > th {
    padding-right: 10px;
    /* font: bold; */
    text-align: right;
    border-right: 1px solid grey;
}

.profile > .profile-box > .profile-info > table > tbody > tr > td {
    padding-left: 10px;
}

.tabs {
    border-bottom: 1px solid black;
}
ul.tabs li{
    display: inline-block;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 4px ;
    outline: 1px solid grey;
    width: 100px;
    text-align: center;
}

ul.tabs li.current{
	background: rgba(249, 216, 174, 0.85);
	color: #222;
}


.tab-content > ul >li {
    width: 400px;
    margin: 10px;
    padding: 10px;
    outline: 1px solid grey;
    border-bottom-right-radius: 18px;
}

ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}


.tab-content{
	display: none;
	background: rgb(255, 247, 247);
	padding: 15px;
}

.tab-content.current{
	display: inherit;
}
