    <!DOCTYPE html>
    <html lang="ko"
          xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common/common.css" />
    <link rel="stylesheet" href="/css/mypage/bookmark.css">
    <script src="https://kit.fontawesome.com/038578f405.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/cb64776e64.js" crossorigin="anonymous"></script>

    <title>GREAT 즐겨찾기</title>
    </head>
    <body>
    <div class="wrapper">
        <header class="header container">
        <nav class="top-menu content">
            <a href="" class="top-menu__join">회원가입</a>
            <a href="" class="top-menu__login">로그인</a>
            <a href="" class="top-menu__cs">고객센터</a>
        </nav>
        <div class="logo content"><a href="#">GR<span>EAT</span></a></div>
        <nav class="bottom-menu content">
            <div class="category">
                <ul>
                    <li class="region-category"> 지역 선택&nbsp;&nbsp;<i class="fa-solid fa-chevron-down"> </i>
                        <ul>
                            <li><a href="">남구</a></li>
                            <li><a href="">중구</a></li>
                            <li><a href="">북구</a></li>
                            <li><a href="">동구</a></li>
                            <li><a href="">울주군</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search">
                <input type="text" class="search__search-box" placeholder="검색어를 입력하세요.">
                <a href="" class="search__search-icon"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        </nav>
        <!-- top버튼 페이지 오른쪽 하단에 위치함 -->
        <div class="topbtn">
            <a href="#top"><i class="fa-solid fa-angles-up"></i></a>
        </div>
    </header>
    <!-- //header -->

        <main class="bookmark">
                <aside class="aside-content">
                <ul>
                    <li class="aside-content-menu">
                        <h3>
                            <a href="myReview.html">내 리뷰</a>
                        </h3>
                    </li>
                    <li class="aside-content-menu">
                        <h3>
                            <a href="order-history.html">주문내역</a>
                        </h3>
                    </li>
                    <li class="aside-content-menu">
                        <h3>
                            <a href="bookmark.html">즐겨찾기</a>
                        </h3>
                    </li>
                    <li class="aside-content-menu">
                        <h3>
                            <a href="good.html">좋아요</a>
                        </h3>
                    </li>
                    </ul>
                </aside>
            
            <article class="main-content">
                <div class="main-head">
                    <div class="main-title">
                        <i class="bar"></i>
                        <h2>즐겨찾기</h2>
                    </div>
                </div>
                <div class="bookmark-content" >
                    <div class="bookmark-on" th:each="bookmark: ${list}" th:data-bookmark-id="${bookmark.bookmarkNumber}">
                            <div class="item front">
                                <img class="profile__image" src="/css/img/img__profile.png" alt="어피치">
                                <div class="shopNm" th:text="${bookmark.member.memStoreName}">파스타키친</div>
<!--                                <input type="button"  th:text="${bookmark.bookmarkNumber}"></input>-->
                            </div>
                            <div class="item back">
                                <div th:text="${bookmark.member.memStoreIntroduce}">정말 맛있는 파스타 맛집!</div>
                            </div>
                            <i class="starIcon far fa-star fas"></i>
                    </div>

                </div>        
                <ul class="btn-page">
                <li>
                    <a href="#">이전</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">6</a>
                </li>
                <li>
                    <a href="#">7</a>
                </li>
                <li>
                    <a href="#">8</a>
                </li>
                <li>
                    <a href="#">9</a>
                </li>
                <li>
                    <a href="#">10</a>
                </li>
                <li>
                    <a href="#">다음</a>
                </li>
                </ul>
            </article>
            </main>


        <footer class="footer container"><p class="content">footer</p></footer>
    </div>

    <script>

            const icons = document.querySelectorAll('.starIcon');

            icons.forEach((item,idx)=>{
                icons[idx].addEventListener('click',e=>{
                    icons[idx].classList.toggle('fas');
                    let id = e.target.parentElement.dataset.bookmarkId;
                    let bookmarkNumber = parseInt(id);
                    console.log('클릭');
                    bookmarkDelInMyPage(bookmarkNumber);
                })
            });

            function bookmarkDelInMyPage(bookmarkNumber){
                const url = `http://localhost:9081/mypage/del/${bookmarkNumber}`;
                fetch(url, {
                    method:'DELETE',
                    headers: {
                        'Accept':'application/json'
                        },
                    }).then(res=>res.json())
                      .then(data=>console.log(data))
                      .catch(err=>console.log(err));
            }
        
    </script>
    </body>
    </html>
