<!--<!DOCTYPE html>-->
<!--<html lang="ko"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Title</title>-->
<!--</head>-->

<!--<body>-->
<!--<form action="" enctype="multipart/form-data">-->
<!--    <div>이미지 변경</div>-->
<!--    <input type="file">-->
<!--    <button>변경</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->