@charset "utf-8";

/* * {
  outline : 1px solid green;
} */

/* 비율 */
.wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.wrapper > .container > .content {
  width: 70vw;
}

/* header */
.wrapper > .header {
  display:flex;
  flex-direction: column;
  height:150px; 
}

.wrapper > .header > .top-menu {
  display:flex;
  justify-content: end;
  margin-top : 10px;
}

.wrapper > .header > .top-menu a {
  margin-left : 10px;
  font-size: 12px;
}

.wrapper > .header > .top-menu a:hover {
  background-color: #eee;
  border-radius: 8px;
  margin-left : 10px;
  font-size: 12px;
  transition: all 0.5s;
}

.wrapper > .header > .logo {
  display:flex;
  justify-content: center;
  font-size: 45px;
  font-weight: bold;
  margin : 10px 0;
}

.wrapper > .header > .logo > a > span {
  color : rgb(241, 196, 15);
}

.wrapper > .header > .bottom-menu {
  display:flex;
  justify-content: space-between;
  font-weight: bold;
}

.wrapper > .header > .bottom-menu > .category > ul > li {
  float:left;
  width: 140px;
  height: 35px;
  position: relative;
}

.wrapper > .header > .bottom-menu > .category > ul > li > ul {
  width: 120px;
  display: none;
  position : absolute;
  top : 34px;
  font-size: 14px;
  border:1px solid #eee;
  background-color: white;            
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.wrapper > .header > .bottom-menu > .category > ul > li:hover > ul {
  display:block;
}

.wrapper > .header > .bottom-menu > .category > ul > li > ul > li  > a{
  display: inline-block;
  width: 120px;
  padding:5px 0px;
  text-align: center;
}

.wrapper > .header > .bottom-menu > .category > ul > li > ul > li:hover {
  background-color: #eee;
  transition: all 0.5s;
}

.wrapper > .header > .bottom-menu > .search {
  border : 1.5px solid grey;
  border-radius: 8px;
  width: 200px;
  height: 28px;
  
}

.wrapper > .header > .bottom-menu > .search .search__search-box {
  border:none;
}

.wrapper > .header > .bottom-menu > .search .search__search-box:focus {
  outline:none;
}

.wrapper > .header > .bottom-menu > .search .search__search-icon {
  color:grey;
}

/* figure */
.wrapper > .figure > .content {
  width: 100vw;
}

.wrapper > .figure > img {
  height: 250px;
  width: 100%;
  object-fit: none;
}

/* main */
.wrapper > .main {
  display:flex;
  flex-direction: column;
  margin-bottom:25px;
}

.wrapper > .main > .title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin : 20px 0px;
}

.wrapper > .main > .items {
  display : flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper > .main > .items > .item {
  display : flex;
  flex-direction: column;
  width: 22%;
  margin : 15px 15px;
  overflow: hidden;
  border-radius: 8px;
  font-size: 16px;
}

.wrapper > .main > .items > .item:hover {
  display : flex;
  flex-direction: column;
  width: 22%;
  margin : 10px 15px;
  overflow: hidden;
  border-radius: 8px;            
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.wrapper > .main > .items > .item > .item__image > img {
  width: 100%;
  height:350px;
}

.wrapper > .main > .items > .item > .item__title {
  text-align: center;
}

.wrapper > .main > .items > .item > .item__price-box {
  display : flex;
  justify-content: center;
}

.wrapper > .main > .items > .item > .item__price-box > .item__discount-rate {
  color:red;
  margin-right: 10px;
}

.wrapper > .main > .items > .item > .item__time-box {
  display : flex;
  justify-content: center;
}

.wrapper > .main > .items > .item > .item__time-box > .item__magam {
  margin-right: 10px;
}

.wrapper > .main > .items > .item > .item__time-box > .item__time {
  color : rgb(241, 196, 15);
}

.wrapper > .main > .view-all {
  display:flex;
  justify-content: end;
  font-size: 12px;
}

.wrapper > .main > .view-all a {
  margin-right:35px;
}

.wrapper > .main > .view-all a:hover {
  margin-right:35px;
  background-color: #eee;
  border-radius: 8px;
  margin-left : 10px;
  transition: all 0.5s;
}

/* footer */
.wrapper .footer {
  height: 200px;
  width: 100vw;
  background-color: #eee;
}