@charset "utf-8";

* {
  outline : 1px solid green;
}

/* 비율 */
.wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.wrapper > .container > .content {
  width: 1050px;
  min-width: 800px;
}

/* header */
.wrapper > .header {
  display:flex;
  flex-direction: column;
  height:150px; 
  border-bottom: 2px solid var(--main-color-gre);
}

.wrapper > .header > .top-menu {
  display:flex;
  justify-content: end;
  margin-top : 10px;
  list-style: none;
  font-size: 12px;
}

.wrapper > .header > .top-menu > .top-menu__member {
  width: 80px;
  text-align: center;
}

.wrapper > .header > .top-menu > .top-menu__member > ul {
  width: 80px;
  display: none;
  position : absolute;  
  background-color: white;            
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}
.wrapper > .header > .top-menu > .top-menu__member:hover > ul {
  display: block;
}

.wrapper > .header > .top-menu a {
  margin-left : 10px;
}

.wrapper > .header > .top-menu a:hover {
  background-color: #eee;
  border-radius: 8px;
  margin-left : 10px;
  font-size: 12px;
  transition: all 0.5s;
}

.wrapper > .header > .logo {
  display:flex;
  justify-content: center;
  font-size: 45px;
  font-weight: bold;
  margin : 10px 0;
}

.wrapper > .header > .logo > a > span {
  color : rgb(241, 196, 15);
}

.wrapper > .header > .bottom-menu {
  display:flex;
  justify-content: space-between;
  font-weight: bold;
}

.wrapper > .header > .bottom-menu > .category > ul > li {
  float:left;
  width: 140px;
  height: 35px;
  position: relative;
}

.wrapper > .header > .bottom-menu > .category > ul > li > ul {
  width: 120px;
  display: none;
  position : absolute;
  top : 34px;
  font-size: 14px;
  border:1px solid #eee;
  background-color: white;            
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.wrapper > .header > .bottom-menu > .category > ul > li:hover > ul {
  display:block;
  z-index: 4;
}

.wrapper > .header > .bottom-menu > .category > ul > li > ul > li  > a{
  display: inline-block;
  width: 120px;
  padding:5px 0px;
  text-align: center;
}

.wrapper > .header > .bottom-menu > .category > ul > li > ul > li:hover {
  background-color: #eee;
  transition: all 0.5s;
}

.wrapper > .header > .bottom-menu > .search {
  border : 1.5px solid grey;
  border-radius: 8px;
  width: 200px;
  height: 28px;
  
}

.wrapper > .header > .bottom-menu > .search .search__search-box {
  border:none;
}

.wrapper > .header > .bottom-menu > .search .search__search-box:focus {
  outline:none;
}

.wrapper > .header > .bottom-menu > .search .search__search-icon {
  color:grey;
}

/* figure */
.active {   
  color: red;
}

.wrapper > .figure > .slideshow-container > .banner {
    display: none;
}
.wrapper > .figure > .slideshow-container{
  max-width: 1900px;
  width: 100vw;
  position: relative;
}

.wrapper > .figure > .slideshow-container  > .banner {
    width: 100%;
    height: 280px;
}

.wrapper > .figure > .slideshow-container > .banner >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  /* //figure */

  /* main */
.wrapper > .figure > .content {
  width: 100vw;
}

.wrapper > .figure > img {
  height: 250px;
  width: 100%;
  object-fit: none;
}

/* main */
.wrapper > .main {
  display:block;
  margin: auto;
  padding: 1rem 0px 1.5rem;
}

.wrapper > .main > .title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin : 20px 0px;
  width: 100%;
}

.wrapper > .main > .items {
  display : flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: center; */
  width: 1050px;
  gap: 18px;
}

.wrapper > .main > .items > .item {
  display : flex;
  flex-direction: column;
  width: 249px;
  /* margin : 0px 16px 16px 0; */
  overflow: hidden;
  border-radius: 8px;
  font-size: 16px;
}

.wrapper > .main > .items > .item:hover {
  display : flex;
  flex-direction: column;
  width: 249px;
  /* margin : 10px 15px; */
  /* overflow: hidden; */
  border-radius: 8px;            
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.664);
}

.wrapper > .main > .items > .item > .item__image > img {
  width: 100%;
  height:320px;
}

.wrapper > .main > .items > .item > .item__title {
  text-align: center;
}

.wrapper > .main > .items > .item > .item__price-box {
  display : flex;
  justify-content: center;
}

.wrapper > .main > .items > .item > .item__price-box > .item__discount-rate {
  color:red;
  margin-right: 10px;
}

.wrapper > .main > .items > .item > .item__time-box {
  display : flex;
  justify-content: center;
}

.wrapper > .main > .items > .item > .item__time-box > .item__magam {
  margin-right: 10px;
}

.wrapper > .main > .items > .item > .item__time-box > .item__time {
  color : rgb(241, 196, 15);
}

.wrapper > .main > .view-all {
  display:flex;
  justify-content: end;
  font-size: 12px;
}

.wrapper > .main > .view-all a {
  margin-right:35px;
}

.wrapper > .main > .view-all a:hover {
  margin-right:35px;
  background-color: #eee;
  border-radius: 8px;
  margin-left : 10px;
  transition: all 0.5s;
}

/* footer */
.wrapper .footer {
  height: 200px;
  width: 100vw;
  background-color: #eee;
}