<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{layout/common_ui::common_Head}"></th:block>
  <link rel="stylesheet" href="/css/notice/noticeMain.css">
  <link rel="stylesheet" href="/css/common/common.css">
  <title>GREAT | 공지사항</title>
</head>
<body>
<div class="wrapper">
  <header th:replace="~{layout/common_ui::choose_header}"></header>
  <main class=" main-container">
    <div class="notice__board">
      <div class="notice-title width--800px">
        <h3><i class="bar"></i>공지사항</h3>
      </div>
      <!-- notice-board__list area -->
      <div id="notice-board__list">
        <div class="container">
          <table class="notice-board__table">
            <colgroup>
              <col width="5%" />
              <col width="60%" />
              <col width="10%" />
              <col width="10%" />
              <col width="5%" />
            </colgroup>
            <thead>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>작성자</th>
              <th>등록일</th>
              <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notice :${listForm}">
              <td class="noticeId" th:text="${notice.noticeId}">5</td>
              <td class="noticeTitle"><a
                  th:href="@{/notice/{id}(id=${notice.noticeId})}"
                  onclick="" href="#" th:text="${notice.title}"></a></td>
              <td class="noticeUdate" th:text="${{notice.udate}}">2022.08.08</td>
              <td>관리자</td>
              <td th:class="count" th:text="${notice.count}">10</td>
            </tr>
            </tbody>
          </table>
          <div class="btn__content" >
            <div id="notice__ss">
              <button id="post__text-btn">글쓰기</button>
            </div>
          </div>
          <div class="text__center">
            <ul class="pagination">
              <!--이전페이지정보-->
              <th:block th:if="${fc.prev}">
                <li>
                  <a class="notice-page-item" href=""
                     th:href="@{/notice/list/1/{searchType}/{keyword}(searchType=${fc.searchType},keyword=${fc.keyword})}">처음</a>
                </li>
                <li>
                  <a class="notice-page-item" href=""
                     th:href="@{/notice/list/{reqPage}/{searchType}/{keyword}(reqPage=${fc.startPage-1},searchType=${fc.searchType},keyword=${fc.keyword})}">이전</a>
                </li>
              </th:block>
              <!--페이지표시-->
              <th:block th:each="pnum : ${#numbers.sequence(fc.startPage,fc.endPage)}">
                <th:block th:if="${pnum != 0}">
                  <!--                  <a class="community-page-item" th:classappend="${fc.rc.reqPage == pnum} ? 'active'" href="" th:href="@{|/community/list/${pnum}|}" th:text="${pnum}">1</a>-->
                  <li>
                    <a class="community-page-item" th:classappend="${fc.rc.reqPage == pnum} ? 'active'" href=""
                       th:href="@{/notice/list/{reqPage}/{searchType}/{keyword}(reqPage=${pnum},searchType=${fc.searchType},keyword=${fc.keyword})}"
                       th:text="${pnum}">1</a>
                  </li>
                </th:block>
              </th:block>
              <!--다음페이지정보-->
              <th:block th:if="${fc.next}">
                <li>
                  <a class="community-page-item" href=""
                     th:href="@{/notice/list/{reqPage}/{searchType}/{keyword}(reqPage=${fc.endPage+1},searchType=${fc.searchType},keyword=${fc.keyword})}">
                    <i class="fas fa-angle-right"></i>
                  </a>
                </li>
                <li>
                  <a class="community-page-item" href=""
                     th:href="@{/notice/list/{reqPage}/{searchType}/{keyword}(reqPage=${fc.finalEndPage},searchType=${fc.searchType},keyword=${fc.keyword})}">
                    <i class="fas fa-angle-double-right"></i>
                  </a>
                </li>
              </th:block>
            </ul>
          </div>
          <!-- notice-board__search  -->
          <div class="notice-board__search">
            <div class="notice-board__search-box">
              <div class="notice-board__search-setting">
                <select name="searchType" id="searchType" th:field="${fc.searchType}">
                  <option th:value="TC">제목+내용</option>
                  <option th:value="T">제목</option>
                  <option th:value="C">내용</option>
                </select>
              </div>
              <div class="notice-board__search-keyword">
                <input type="text" id="keyword" name="keyword" th:field="${fc.keyword}">
                <button id="searchBtn" type="button"><i class="fa-solid fa-magnifying-glass">검색</i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer th:replace="~{layout/common_ui::footer}"></footer>
</div>
<script async th:inline="javascript">

      document.getElementById("notice__ss").style.display = (
        [[${session.memAdmin}]] == 'y' ? "block" : "none"
    );

    const $postBtn = document.getElementById('post__text-btn');
    $postBtn.addEventListener('click', e => {
      location.href = '/notice/write';
    });

  //검색
  const $searchType = document.getElementById('searchType');
  const $keyword    = document.getElementById('keyword');
  const $searchBtn  = document.getElementById('searchBtn');

  //검색 버튼 클릭시
  $searchBtn?.addEventListener('click', search_f);

  //키워드 입력필드에 엔터키 눌렀을때 검색
  $keyword?.addEventListener('keydown', e=>{
      if(e.key === 'Enter') {
          search_f(e);
      }
  });

  function search_f(e){
      //검색어입력 유무체크
      if($keyword.value.trim().length === 0){
         alert('검색어를 입력하세요');
         $keyword.focus();$keyword.select(); //커서이동
         return false;
      }
      const url = `/notice/list/1/${$searchType.value}/${$keyword.value}`;
      location.href = url;
  }
</script>
</body>
</html>