<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{layout/common_ui::common_Head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/member/findId.css}">
    <script type="text/javascript" defer th:src="@{/js/member/findId.js}"></script>
    <title>GREAT | 아이디 찾기</title>
</head>

<body>
    <div class="wrapper">
        <header th:replace="~{layout/common_ui::choose_header}"></header>

        <!-- main -->
        <main class="main container">
            <div class="title content">
                <h1>아이디를 잊으셨습니까?</h1>
            </div>
            <div class="wrap-find-id content">
                <div class="find-id-title">
                    <h2>아이디 찾기</h2>
                </div>
                <div class="input-data content">
                    <div class="name">
                        <i class="icon__name fa-regular fa-address-card"></i>
                        <i class="bar__name"></i>
                        <input id="inputName" type="text" placeholder="이름을 입력하세요." />
                    </div>
                    <div class="email">
                        <i class="icon__email fa-regular fa-envelope"></i>
                        <i class="bar__email"></i>
                        <input id="inputEmail" type="email" placeholder="이메일 주소를 입력하세요." />
                    </div>
                </div>
                <div class="wrap-confirm-btn content">
                    <button type="button" class="btn confirm-btn">확인</button>
                </div>
            </div>
        </main>
        <!-- //main -->

        <!-- footer -->
        <footer th:replace="~{layout/common_ui::footer}"></footer>
        <!-- //footer -->

        <!-- 모달 팝업 -->
        <div class="background">
            <div class="wrap-pop-up">
                <div class="pop-up">
                    <div class="msg-find-id">
                        <h2>아이디 찾기가 완료되었습니다.</h2>
                        <div class="msg">
                            <p><label for="">회원님의 아이디는 <span class="span-id">abc1234</span> 입니다.</label></p>
                            <p><label for="">가입일자는 <span class="span-reg">2022.08.15</span> 입니다.</label></p>
                        </div>
                    </div>
                    <div class="location-choice">
                        <a th:href="@{/findPw}"> 비밀번호 찾기 </a>
                        <a th:href="@{/login}"> 로그인 </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- //모달 팝업 -->
    </div>
</body>
</html>