<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{layout/common_ui::common_Head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/member/findPw.css}">
    <script type="text/javascript" defer th:src="@{/js/member/findPw.js}"></script>
    <title>비밀번호 찾기</title>
</head>
<body>
    <div class="wrapper">
        <header th:replace="~{layout/common_ui::choose_header}"></header>

        <!-- main -->
        <main class="main container">
            <div class="title content">
                <h1>비밀번호를 잊으셨습니까?</h1>
            </div>
            <div class="wrap-find-pw content">
                <div class="find-pw-title">
                    <h2>비밀번호 찾기</h2>
                </div>
                <form action="" method="POST" th:object="${findPw}">
                    <div class="input-data content">
                        <div class="wrap-id">
                            <div class="id">
                                <i class="icon__id fa-regular fa-user"></i>
                                <i class="bar__id"></i>
                                <input type="text" placeholder="아이디를 입력하세요." />
                            </div>
                        </div>
                        <div class="wrap-email">
                            <div class="email">
                                <i class="icon__email fa-regular fa-envelope"></i>
                                <i class="bar__email"></i>
                                <input type="email" th:field="*{memEmail}" placeholder="이메일 주소를 입력하세요.">
                            </div>
                            <button type="button" class="btn send-code-btn">인증번호 발송</button>
                        </div>
                        <div class="wrap-certify">
                            <div class="certify">
                                <i class="icon__certify fa-solid fa-check"></i>
                                <i class="bar__certify"></i>
                                <input type="text" id="memCode" name="memCode" value="memCode" placeholder="인증번호를 입력하세요.">
                            </div>
                            <button type="button" class="btn confirm-code-btn">인증번호 확인</button>
                        </div>
                    </div>
                    <div class="wrap-confirm-btn content">
                        <button type="submit" class="btn confirm-btn">확인</button>
                    </div>
                </form>
            </div>
        </main>
        <!-- //main -->

        <!-- footer -->
        <footer th:replace="~{layout/common_ui::footer}"></footer>
        <!-- //footer -->
    </div>
</body>
</html>