<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{layout/common_ui::common_Head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/member/infoChk.css}">
    <title>개인정보 조회 및 수정 본인확인</title>
</head>
<body>
    <div class="wrapper">
        <header th:replace="~{layout/common_ui::choose_header}"></header>

        <!-- main -->
        <main class="main container">
            <div class="title content">
                <h2>개인정보</h2>
            </div>
            <div class="msg content">
                <p>개인정보 조회 및 수정을 원하시면 비밀번호를 입력해주세요.</p>
            </div>
            <form method="POST" action="/member/infoChk" th:object="${infoChk}">
                <div class="pwc">
                    <i class="fa-solid fa-key"></i>
                    <i class="bar"></i>
                    <input type="password" th:field="*{memPassword}" placeholder="비밀번호를 입력하세요." />
                </div>
                <div class="errmsg">
                    <p th:if="${#fields.hasErrors('memPassword')}" th:errors="*{memPassword}"></p>
                </div>
                <div class="wrap-confirm-btn content">
                    <button type="submit" class="btn confirm-btn">확인</button>
                </div>
            </form>
        </main>
        <!-- //main -->

        <!-- footer -->
        <footer th:replace="~{layout/common_ui::footer}"></footer>
        <!-- //footer -->
    </div>
</body>
</html>