<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{layout/common_ui::common_Head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/member/joinComplete.css}">
    <title>GREAT | 회원가입 완료</title>
</head>
<body>
    <div class="wrapper">
        <header th:replace="~{layout/common_ui::choose_header}"></header>

        <!-- main -->
        <main class="main container">
            <div class="title content">
                <h2>회원가입 완료</h2>
            </div>
            <div class="welcome content">
                <h3>환영합니다!</h3>
            </div>
            <div class="msg--1">
                <p><label for=""><span name="memNickname" th:text="${joinComplete.memNickname}">어피치</span>님 GREAT 고객 회원가입을 축하드립니다.</label></p>
                <p><label for="">GREAT에 가입하신 아이디는 <span name="memId" th:text="${joinComplete.memId}">abc1234</span>입니다.</label></p>
            </div>
            <div class="msg--2">
                <p><label for="">GREAT에서는 항상 회원님들 입장에서</label></p>
                <p><label for="">보다 좋은 서비스를 받으실 수 있도록 노력하겠습니다.</label></p>
            </div>
            <div class="wrap-login-btn content">
                <button type="button" class="btn login-btn" th:onclick="|location.href='@{/login}'|">로그인</button>
            </div>
        </main>
        <!-- //main -->

        <!-- footer -->
        <footer th:replace="~{layout/common_ui::footer}"></footer>
        <!-- //footer -->
    </div>
</body>
</html>