<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head layout:fragment="head">
    <!-- common head -->
    <th:block th:replace="fragments/layout :: commonHead"></th:block>
    <!-- head -->
    <link rel="stylesheet" th:href="@{/css/member/login.css}">
    <title>로그인</title>
</head>

<body layout:fragment="body">
    <div class="wrapper">
        <!-- header -->
        <header th:replace="fragments/layout :: fragNonHeader"></header>
        <!-- //header -->

        <!-- main -->
        <main class="main container">
            <div class="title">
                <h1>로그인</h1>
            </div>
            <form action="" method="POST" th:object="${login}">
                <div class="input-data">
                    <div class="id">
                        <i class="icon__id fa-solid fa-user"></i>
                        <i class="bar__id"></i>
                        <input type="text" th:field="*{memId}" placeholder="아이디를 입력하세요." />
                    </div>
                    <div class="pw">
                        <i class="icon__pw fa-solid fa-key"></i>
                        <i class="bar__pw"></i>
                        <input type="password" th:field="*{memPassword}" placeholder="비밀번호를 입력하세요." />
                    </div>
                </div>
                <div class="service">
                    <a th:href="@{/findId}" class="service__find-id">아이디 찾기</a><i></i>
                    <a th:href="@{/findPw}" class="service__find-pw">비밀번호 찾기</a>
                    <a th:href="@{/join}" class="service__join">회원가입</a>
                </div>
                <div class="wrap-login-btn">
                    <button type="submit" class="btn login-btn">로그인</button>
                </div>
                <!--<div class="wrap-kakao-login-btn">-->
                <!--    <a href="#"><img th:src="@{/css/common/kakaoLogin.png}" alt="" /></a>-->
                <!--</div>-->
            </form>
        </main>
        <!-- //main -->

        <!-- footer -->
        <footer th:replace="fragments/layout :: fragFooter" class="footer container"></footer>
        <!-- //footer -->
    </div>
</body>
</html>