<!DOCTYPE html>
<html lang="ko"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="마감 할인 상품 소개">
    <meta name="keywords" content="food, sale">
    <meta name="author" content="KH 3팀">
    <title>인증코드 메일 발송</title>
</head>
<body>
    <div style="margin: 100px;">
        <h1> 안녕하세요.</h1>
        <h1> 마감상품 할인 웹서비스 <span style="font-weight: bold;"> GREAT </span> 입니다. </h1>
        <br>
        <p> 회원가입 화면으로 돌아가서 발송된 인증코드로 인증 후 다음으로 진행하세요. </p>
        <br>

        <div align="center" style="border: 1px solid black; font-family: verdana;">
            <h3 style="color: blue;"> [회원가입 인증코드] </h3>
            <h3 style="font-size: 1.2rem; font-weight: bold;" id="code" class="mailCode" th:text="${code}"> code </h3>
        </div>
        <br/>
    </div>
</body>
</html>