<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head layout:fragment="head">
    <!-- common head -->
    <th:block th:replace="fragments/layout :: commonHead"></th:block>
    <!-- head -->
    <link rel="stylesheet" th:href="@{/css/member/resetPw.css}">
    <script th:src="@{/js/member/resetPw.js}"></script>
    <title>비밀번호 재설정</title>
</head>

<body layout:fragment="body">
    <div class="wrapper">
        <!-- header -->
        <header th:replace="fragments/layout :: fragNonHeader"></header>
        <!-- //header -->

        <!-- main -->
        <main class="main container">
            <div class="title content">
                <h2>비밀번호 재설정</h2>
            </div>
            <div class="id">
                <i class="fa-solid fa-user"></i>
                <i class="bar"></i>
                <input type="text" readonly placeholder="wnsgur5508" />
            </div>
            <div class="pw">
                <i class="fa-solid fa-key"></i>
                <i class="bar"></i>
                <input type="password" placeholder="비밀번호를 입력하세요." />
            </div>
            <div class="pwc">
                <i class="fa-solid fa-key"></i>
                <i class="bar"></i>
                <input type="password" placeholder="비밀번호를 재입력하세요." />
            </div>
            <div class="wrap-confirm-btn content">
                <button class="btn confirm-btn" onclick="location.href='javascript:show();'">재설정 완료</button>
            </div>
        </main>
        <!-- //main -->

        <!-- footer -->
        <footer th:replace="fragments/layout :: fragFooter" class="footer container"></footer>
        <!-- //footer -->

        <!-- 모달 팝업 -->
        <div class="background">
            <div class="wrap-pop-up">
                <div class="pop-up">
                    <div class="title">
                        <h2>비밀번호가 변경되었습니다.</h2>
                    </div>
                    <div class="location-choice">
                        <a th:href="@{/}">
                            메인화면
                        </a>
                        <a th:href="@{/login}">
                            로그인
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- //모달 팝업 -->
    </div>
</body>
</html>