@charset "UTF-8";

* {
    /* outline: 1px solid plum; */
}

h2 {
    text-align: center;
    line-height: 3;
}
/* .main {
    outline: 1px solid black;
    width: 610px;
    height: 500px;
    margin: 0px 400px;
    padding: 50px 30px 20px 30px;
}
.main .content__title > input {
    width: 483px;
} */

label {
    display: inline-block;
    width: 110px;
}
td {
    padding: 6px;
}
input {
    display: inline-block;
    width: 160px;
    height: 25px;
}
#title {
    width: 100%;
}

select {
    height: 24px;
    width: 153px;
    margin: 6px 6px;
}
textarea {
    width:100%;
    resize: none;
}

.write-btn {
    display: flex;
    justify-content: flex-end;
}

button {
    width: 80px;
    height: 30px;
    font-size: 14px;
    border-radius: 8px;

    /* outline: 1px solid black; */
    background-color: #f1c40f;
    border: 0;
    margin: 10px;
}
button:hover {
    cursor: pointer;
    outline: 1px solid black;
    border: 1px;
}

.write-btn #tempSave {
    background-color: #e0e0e0;
}

footer {
    height: 150px;
    background-color: grey;
}