<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<th:block th:fragment="head">-->

<head>
    <th:block th:fragment="commonHead">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="마감 할인 상품 소개">
        <meta name="keywords" content="food, sale">
        <meta name="author" content="KH 3팀">
        <link rel="stylesheet" th:href="@{/css/common/common.css}">
        <link rel="icon" th:href="@{/css/common/icon.svg}">
        <script src="https://kit.fontawesome.com/132ba309f6.js" crossorigin="anonymous"></script>
    </th:block>
</head>
<!--</th:block>-->

<body layout:fragment="body">
    <div>
        <!-- nonmember header -->
        <header th:fragment="fragNonHeader" class="header container">
            <nav class="top-menu content">
                <a th:href="@{/join}" class="top-menu__join">회원가입</a>
                <a th:href="@{/login}" class="top-menu__login">로그인</a>
                <a href="" class="top-menu__cs">고객센터</a>
            </nav>
            <div class="logo content"><a th:href="@{/}">GR<span>EAT</span></a></div>
            <nav class="bottom-menu content">
                <div class="category">
                    <ul>
                        <li class="region-category"> 지역 선택&nbsp;&nbsp;<i class="fa-solid fa-chevron-down"> </i>
                            <ul>
                                <li><a href="">남구</a></li>
                                <li><a href="">중구</a></li>
                                <li><a href="">북구</a></li>
                                <li><a href="">동구</a></li>
                                <li><a href="">울주군</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="search">
                    <input type="text" class="search__search-box" placeholder="검색어를 입력하세요.">
                    <a href="" class="search__search-icon"><i class="fa-solid fa-magnifying-glass"></i></a>
                </div>
            </nav>
            <!-- top버튼 페이지 오른쪽 하단에 위치함 -->
            <div class="topbtn">
                <a href="#top"><i class="fa-solid fa-angles-up"></i></a>
            </div>
        </header>
        <!-- //nonmember header -->

        <!-- member header -->
        <header th:fragment="fragMemHeader" class="header container">
            <nav class="top-menu content">
                <li th:class="top-menu__member"><a th:if="${!session.isEmpty()}" th:text="${session.memNickname} + 님">회원님</a>
                    <ul>
                        <li><a href="">판매글 작성</a></li>
                        <li><a href="">판매 내역</a></li>
                        <li><a href="">판매 정보</a></li>
                        <li><a href="">판매 목록</a></li>
                        <li><a href="">내 프로필</a></li>
                        <li><a th:href="@{/member/infoChk}">개인정보</a></li>
                        <li><a th:href="@{/logout}">로그아웃</a></li>
                    </ul>
                </li>
                <a href="" class="top-menu__cs">고객센터</a>
            </nav>
            <div class="logo content"><a th:href="@{/}">GR<span>EAT</span></a></div>
            <nav class="bottom-menu content">
                <div class="category">
                    <ul>
                        <li class="region-category"> 지역 선택&nbsp;&nbsp;<i class="fa-solid fa-chevron-down"> </i>
                            <ul>
                                <li><a href="">남구</a></li>
                                <li><a href="">중구</a></li>
                                <li><a href="">북구</a></li>
                                <li><a href="">동구</a></li>
                                <li><a href="">울주군</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="search">
                    <input type="text" class="search__search-box" placeholder="검색어를 입력하세요.">
                    <a href="" class="search__search-icon"><i class="fa-solid fa-magnifying-glass"></i></a>
                </div>
            </nav>
            <!-- top버튼 페이지 오른쪽 하단에 위치함 -->
            <div class="topbtn">
                <a href="#top"><i class="fa-solid fa-angles-up"></i></a>
            </div>
        </header>
        <!-- //member header -->

        <!-- main content -->
        <main layout:fragment="main">
            해당 페이지 컨텐츠 공간
        </main>
        <!-- //main content -->

        <!-- footer -->
        <footer th:fragment="fragFooter" class="footer container">
            <p class="content"></p>
        </footer>
        <!-- //footer -->
    </div>
</body>

</html>