@charset "utf-8";

.good-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1100px;
    padding: 16px 0  24px 0;
}

/* 메인 (왼쪽) */
.good-container .aside-content {
    flex: 1;    
    border-right: 1px solid rgb(189, 189, 189);
    margin: 0 20px 0 10px;
    font-size: 15px;
    height: 900px;
}
.good-container .aside-content .aside-content-menu {
    width: 155px;
    height: 40px;
    padding: 10px 15px;
    margin-right: 5px;
}

.good-container .aside-content .aside-content-menu:hover{
    border-radius: 8px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.664);
}

/* 메인 (오른쪽) */
.good-container .main-content{
    flex: 6;
    display: block;
}

.bar {
    display: flex;
    width: 4px;
    height: 36px;
    background-color: var(--main-color-yel);
    margin-right: 10px;
}

.good-container .main-content .main-head  {
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.good-container .main-content .main-head .main-title {
    display: flex;
    height: 50px;
    margin: 20px 10px;
}

/* 메인 아이템 */
.good-container .main-content .items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.good-container .main-content .items .item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.good-container .main-content .items .item i {
    position: absolute;
    right: 10px;
    bottom : 30px;
    font-size: 1.5em;
    color: red;
}
.good-container .main-content .items .item:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.664);
}

.good-container .main-content .items .item .item__image img {
    width: 100%;
    height: 250px;
}

.good-container .main-content .items .item .item__title {
    text-align: center;
}

.good-container .main-content .items .item .item__price-box {
    display : flex;
    justify-content: center;
}

.good-container .main-content .items .item .item__price-box .item__discount-rate {
    color:red;
    margin-right: 10px;
}

.good-container .main-content .items .item .item__time-box {
    display: flex;
    justify-content: center;
}
.good-container .main-content .items .item .item__time-box .item__magam {
    margin-right: 10px;
}
.good-container .main-content .items .item .item__time-box .item__time {
    color : rgb(241, 196, 15);
}

/* 하단 버튼 */
.btn-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.btn-page li {
    margin-right: 10px;
    font-size: 13px;
    text-align: center;
    box-sizing: border-box;

    padding: 8px;
}

.btn-page li:nth-child(1),
.btn-page li:nth-child(12) {
    font-size: 1em;
}

