@charset "UTF-8";

/* * {outline: 1px solid sandybrown;} */

/* 비율 */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
    min-width: 1200px;
}

.wrapper>.container>.content {
    width: 1100px;
    min-width: 800px;
}

.main {
    margin: auto;
    padding: 1rem 0px 1.5rem;
    width: 1100px;
}

/* header */
.header {
    /* =======      헤더 고정       =============== */
    position: sticky;
    top: -30px;         
    background-color: white;
    z-index: 3;
    /* ====================================== */
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 1100px;
    height: 156px;
    max-width: 1900px;
    border-bottom: 2px solid var(--main-color-gre);
}

/* top버튼 */
.topbtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 20px;
}

/* 로그인 | 회원가입 */
.top-menu {
    display: flex;
    justify-content: end;
    margin-top: 10px;
    font-size: 12px;    
}

.top-menu > a {
    /* width: 100px; */
    display: flex;
    align-items: center;
}

.top-menu a:hover {
    font-size: 12px;
    transition: all 0.5s;
    text-decoration: underline;
    text-underline-position: under;
}

.top-menu > a::after {
    content: "";
    display: inline-block;
    width: 0.8px;
    height: 12px;
    margin: 0 8px;
    background-color: var(--main-text-gre);
}

.top-menu > a:nth-last-child(1):after {
    display: none;
}

.top-menu > .top-menu__member {
    width: 160px;
    display: flex;
    justify-content: flex-end;
}

.top-menu > .top-menu__member::after {
    content: "";  
    display: flex;
    width: 0.8px;
    height: 14px;
    margin:1px 8px 0;
    background-color: var(--main-text-gre);
}

.top-menu>.top-menu__member > ul {
    display: none;
    position: absolute;
    top: 27px;
    padding: 5px 0;
    width: 95px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.top-menu>.top-menu__member:hover ul {
    display: block;
}

.top-menu>.top-menu__member > ul > li {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.top-menu>.top-menu__member > ul > li:hover {
    width: 100%;
    background-color: #eee;
    transition: all 0.5s;
    text-decoration: underline;
    text-underline-position: under;
}

/* 로고 */
.logo {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-size: 45px;
    font-weight: bold;
}

.logo>a>span {
    color: var(--main-color-yel);
}

/* gnb 메뉴 */
.bottom-menu {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.bottom-menu>.category>ul>li {
    float: left;
    position: relative;
    width: 140px;
    height: 35px;
    /* ----------------------------------------- */
    display: flex;
    justify-content: center;
    align-items: center;
    /* ----------------------------------------- */
}

.bottom-menu>.category>ul>li>ul {
    display: none;
    position: absolute;
    top: 34px;
    width: 120px;
    font-size: 14px;
    border: 1px solid #eee;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.bottom-menu>.category>ul>li:hover>ul {
    display: block;
    transition-delay: 1s;
    z-index: 4;
}

.bottom-menu>.category>ul>li>ul>li>a {
    display: inline-block;
    width: 120px;
    padding: 5px 0px;
    text-align: center;
}

.bottom-menu>.category>ul>li>ul>li:hover {
    background-color: #eee;
    transition: all 0.5s;
}

/* 검색 */
.bottom-menu>.search {
    width: 205px;
    height: 30px;
    border: 1.5px solid grey;
    border-radius: 8px;
}

.bottom-menu>.search .search__search-box {
    width: 173px;
    border: none;
    height: 100%;
    margin-left: 5px;
}

.bottom-menu>.search .search__search-icon {
    color: grey;
}
// 페이징 버튼
.board__page {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.board__page--select a {
    margin: 0 3px;
    font-size: 13px;
}

.board__page--select a:hover{
    background-color: var(--mainBtn-color-gre);
    border-radius: 5px;
}

/* footer */
.footer {
    display: flex;
    width: 2000px;
    height: 200px;
    max-width: 2000px;
    background-color: #eee;

    /* ----------------------------------- */
    justify-content: center;
    padding: 20px;
    /* ----------------------------------- */
}

.footer>a>.fa-youtube {
    color: rgb(226, 19, 19);
    font-size: 25px;
}

.footer>a>.fa-github {
    font-size: 25px;
}