@charset "utf-8";

/* * {
  outline : 1px solid green;
} */

/* 비율 */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.wrapper>.container>.content {
  width: 1100px;
  min-width: 800px;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  height: 156px;
  width: 100%;
  border-bottom: 2px solid var(--main-color-gre);
  max-width: 1900px;
  align-items: center;
}

/* 로고인 | 회원가입 */
.top-menu {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  list-style: none;
  font-size: 12px;
}

.top-menu>.top-menu__member {
  width: 80px;
  text-align: center;
}

.top-menu>.top-menu__member>ul {
  width: 80px;
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
}

.top-menu>.top-menu__member:hover>ul {
  display: block;
}

.top-menu a {
  margin-left: 10px;
}

.top-menu a:hover {
  background-color: #eee;
  border-radius: 8px;
  margin-left: 10px;
  font-size: 12px;
  transition: all 0.5s;
}

/* 로고 */
.logo {
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-weight: bold;
  margin: 10px 0;
}

.logo>a>span {
  color: var(--main-color-yel);
}

/* gnb 메뉴 */
.bottom-menu {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.bottom-menu>.category>ul>li {
  float: left;
  width: 140px;
  height: 35px;
  position: relative;
}

.bottom-menu>.category>ul>li>ul {
  width: 120px;
  display: none;
  position: absolute;
  top: 34px;
  font-size: 14px;
  border: 1px solid #eee;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.bottom-menu>.category>ul>li:hover>ul {
  display: block;
  z-index: 4;
}

.bottom-menu>.category>ul>li>ul>li>a {
  display: inline-block;
  width: 120px;
  padding: 5px 0px;
  text-align: center;
}

.bottom-menu>.category>ul>li>ul>li:hover {
  background-color: #eee;
  transition: all 0.5s;
}

.bottom-menu>.search {
  border: 1.5px solid grey;
  border-radius: 8px;
  width: 200px;
  height: 28px;

}

.bottom-menu>.search .search__search-box {
  border: none;
}

.bottom-menu>.search .search__search-box:focus {
  outline: none;
}

.bottom-menu>.search .search__search-icon {
  color: grey;
}

/* main */
.main {
  display: block;
  margin: auto;
  padding: 1rem 0px 1.5rem;
  width: 1100px;
}

/* footer */
.footer {
  width: 100%;
  height: 200px;
  max-width: 1900px;
  background-color: #eee;
}