@charset "UTF-8";

/* * {outline: 1px solid black;} */
.active {   
  color: red;
}

/* figure */
.figure {
  display: flex;
  position: relative;
}
.figure > .text {
  position: absolute;
  z-index: 2;
  top: 90px;
  left: 200px;
  color: white;
  font-size: 50px;
}
.figure > .slideshow-container > .banner {
  display: none;
}
.figure > .slideshow-container{
  min-width: 1200px;
  max-width: 1900px;
  width: 100vw;
  position: relative;
}

.figure > .slideshow-container  > .banner {
    width: 100%;
    height: 400px;
}

.figure > .slideshow-container > .banner >img {
    width: 100%;
    height: 100%;
    object-fit: none;
} 

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* main */
/* .main {
  display:block;
  margin: auto;
  padding: 1rem 0px 1.5rem;
}

.main > .title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin : 20px 0px;
  width: 100%;
}

.main > .items {
  display : flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1100px;
  gap: 20px;
}

.main > .items > .item {
  display : flex;
  flex-direction: column;
  width: 260px;
  overflow: hidden;
  border-radius: 8px;
  font-size: 16px;
}

.main > .items > .item:hover {
  display : flex;
  flex-direction: column;
  width: 260px;
  border-radius: 8px;            
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.664);
}

.main > .items > .item > .item__image > img {
  width: 100%;
  height:250px;
}

.main > .items > .item > .item__title {
  text-align: center;
}

.main > .items > .item > .item__price-box {
  display : flex;
  justify-content: center;
}

.main > .items > .item > .item__price-box > .item__discount-rate {
  color:red;
  margin-right: 10px;
}

.main > .items > .item > .item__time-box {
  display : flex;
  justify-content: center;
}

.main > .items > .item > .item__time-box > .item__magam {
  margin-right: 10px;
}

.main > .items > .item > .item__time-box > .item__time {
  color : rgb(241, 196, 15);
}

.main > .view-all {
  display:flex;
  justify-content: end;
  font-size: 12px;
}

.main > .view-all a {
  margin-right:35px;
}

.main > .view-all a:hover {
  margin-right:35px;
  background-color: #eee;
  border-radius: 8px;
  margin-left : 10px;
  transition: all 0.5s;
} */