@charset "utf-8";

/* * {outline:1px solid green;} */

.width--900px{
  width: 900px;
}

.font-size--12px {
  font-size: 12px;
  color:var(--main-text-gre);
}

.font-size--13px {
  font-size:13px;
}

.profileImage {
  width: 40px;
  height: 40px;
}

textarea:focus {
  outline:none;
}

button:hover {
  cursor: pointer;
}

.bar {
  display: flex;
  width: 4px;
  height: 17px;
  background-color: var(--main-color-yel);
  margin-right: 3px;
}

.filebox {
  padding-left: 5px;
}

.filebox #imageFile {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.filebox #fileName {
  border:none;
  color: grey;
  width: 300px;
}

.filebox #imageFile2 {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.filebox #fileName2 {
  border:none;
  color: grey;
  width: 300px;
}

.comment-box__middle-left {
  display: flex;
}


.pNickname {
  color : var(--main-color-yel);
  font-size: 13px;
  margin:5px 0;
}

/* main */
.main {
  display : flex;
  flex-direction: column;
  align-items: center;
}


.ck-reset_all {
    display :none;
}

.ck-blurred.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-read-only{
    border:none;
}


/* article */
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin : 100px 0px 10px 0px;
  border : 1px solid var(--main-color-gre);
  border-radius: 5px;
  width: 900px;
  padding:30px;
  box-sizing: content-box;
}


/* article__header */
.article__header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--main-color-gre);
}

.article__bullet {
  display:flex;
  padding-left: 7px;
}

.article__title {
  padding:0 0 0 7px;
  margin:0;
  
}

.article__information{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__information .article__profile {
  display:flex;
  align-items: center;
}

.article__information .article__write-information {
  display:flex;
  flex-direction: column;
}

.article__information .article__write-information span {
  text-align:end;
}

/* article__content */
.article__content {
 border-bottom : 1px solid var(--main-color-gre);
}

.article__content p {
  padding:25px 20px;
}

.article__btn-box {
  display:flex;
  justify-content: flex-end;
}

.article__btn-box button {
  width: 60px;
  height: 25px;
  margin:5px 0 10px 5px;
  border:none;
  border-radius: 8px;
  font-weight: bold;
  background-color: var(--mainBtn-color-gre);
}

.article__btn-box button:hover{
  cursor: pointer;
}

/* comment */

.comment__title {
  margin : 20px 20px;
}

.comment__list .comment-box.N {
  display : flex;
  padding:0 20px;
  border-bottom:1px solid var(--main-color-gre);
  margin-bottom : 10px;
}

.comment__list .comment-box.Y {
  display : flex;
  padding:0 20px 0 50px;
  border-bottom:1px solid var(--main-color-gre);
  margin-bottom : 10px;
}

.comment__list .comment-box .comment-box__contents {
  width: 100%;
  margin-bottom: 10px;
}

.comment__list .comment-box .comment-box__contents .comment-box__top {
  display:flex;
  justify-content: space-between;
  height: 15px;
}

.comment__list .comment-box .comment-box__contents .comment-box__top i {
  margin-left:3px;
}

.comment__list .comment-box .comment-box__contents .comment-box__middle {
  display : flex;
  flex-direction: column;
}

.comment__list .comment-box .comment-box__contents .comment-box__middle .comment-box__image {
  margin-top:10px;
}


/* .comment__list .comment-box .comment-box__contents .comment-box__middle .replyNickname {
  font-weight: bold;
  display: inline-block;
} */

.comment__list .comment-box .comment-box__contents .comment-box__middle .comment-box__text {
  margin:5px 0;
  display: inline-block;
}


.comment__list .comment-box .comment-box__contents .comment-box__bottom {
  display:flex;
  justify-content: space-between;
}

.comment__list .reply-viewer {
  padding-left : 40px;
}

.comment__list .reply-writer {
  padding-left : 40px;
}

.comment__write .reply-box {
  border:1px solid var(--main-color-gre);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.comment__write .reply-write {
  margin-left:55px;
}

.comment__write .reply-box .reply-box__middle .reply-box__text {
  width: 100%;
  height: 20px;
  box-sizing: border-box;
  border:none;
  resize: none;
  margin:10px 0px;
}

.comment__write .reply-box .reply-box__bottom {
  display:flex;
  justify-content: space-between;
  height: 30px;
}

.comment__write .reply-box .reply-box__bottom #commentSaveBtn{
  width: 60px;
  height: 25px;
  margin:5px 0 10px 5px;
  border:none;
  border-radius: 8px;
  font-weight: bold;
  background-color: var(--main-color-yel);
  color:black;
}

.comment__write .reply-box .reply-box__bottom #replySaveBtn{
  width: 60px;
  height: 25px;
  margin:5px 0 10px 5px;
  border:none;
  border-radius: 8px;
  font-weight: bold;
  background-color: var(--main-color-yel);
  color:black;
}

.comment__write .reply-box .reply-box__bottom #editSaveBtn{
  width: 60px;
  height: 25px;
  margin:5px 0 10px 5px;
  border:none;
  border-radius: 8px;
  font-weight: bold;
  background-color: var(--main-color-yel);
  color:black;
}

.comment__write .reply-box .reply-box__bottom #replyCancelBtn{
  width: 60px;
  height: 25px;
  margin:5px 0 10px 5px;
  border:none;
  border-radius: 8px;
  font-weight: bold;
  background-color: var(--mainBtn-color-gre);
  color:black;
}

.comment__write .reply-box .reply-box__bottom #editCancelBtn{
  width: 60px;
  height: 25px;
  margin:5px 0 10px 5px;
  border:none;
  border-radius: 8px;
  font-weight: bold;
  background-color: var(--mainBtn-color-gre);
  color:black;
}



.comment__write .reply-box .reply-box__bottom

/* article__bottom */

.article__bottom {
  display: flex;
  justify-content: flex-end;
  margin-bottom :100px;
  width: 960px;
}

#prev-page-btn {
  width: 60px;
  height: 25px;
  margin:5px 0 10px 5px;
  border:none;
  border-radius: 8px;
  font-weight: bold;
  background-color: var(--mainBtn-color-gre);
}