@charset "utf-8";

/* * {outline:1px solid green;} */

.width--900px {
  width: 900px;
}

/* button {
  cursor: pointer;
} */

input:focus {
  outline: none;
}

/* select:focus{
  outline:none;
} */

.bar {
  display: flex;
  width: 4px;
  height: 36px;
  background-color: var(--main-color-yel);
  margin-right: 10px;
}

td a {
  text-align: center;
}


/* board */
.board-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px 200px 0px;
}

/* board__title */
.board__title {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid black;
}

.board__title h2 {
  padding: 0px;
  margin: 0px;
  display:flex;
  margin-bottom:5px;
}


/* board__category */
.board__category {
  display: flex;
  justify-content: flex-end;
}

.board__category-select {
  margin: 5px 0px 0px 0px;
}

.board__category-select select {
  border-radius: 8px;
  border: 1px solid var(--mainBtn-color-gre);
  margin-bottom : 5px;
}

/* board__table */


.board__table {
  display: flex;
  justify-content: center;
  
}

.board__table-content{
  border-spacing: 0px;
}


.board__table-content thead tr th {
  text-align: center;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid var(--mainBtn-color-gre);
  border-bottom: 1px solid var(--mainBtn-color-gre);
}


.board__table-content tbody tr td {
  text-align: center;
  font-size: 13px;
  border-bottom: 1px solid var(--mainBtn-color-gre);
  padding: 5px 0;
  height: 40px;
  line-height: 40px;
}

.board__table-content tbody tr td .commentsCnt {
  font-size: 12px;
  color : var(--main-color-yel);
}

.board__table-content tbody tr .left {
  text-align: left;
}

.board__table-content tbody tr .articleNum  {
  font-size: 11px;
}

.board__table-content tbody tr .articleCategory  {
  font-size: 12px;
}

.board__table-content tbody tr .articleTitle  {
  text-align: left;
}

.board__table-content tbody tr .createDate {
   font-size: 12px;
}

.board__table-content tbody tr .views {
   font-size: 12px;
}


.board__table-content tbody tr td a {
  display: inline-block;
}

.board__table-content tbody tr td a:hover{
  text-decoration: underline;
}


/* board__write*/
.board__write {
  display: flex;
  justify-content: flex-end;
}

#board__post-btn {
  background-color: var(--main-color-yel);
  /* margin:10px 0;
  border:none;
  border-radius: 8px;
  font-weight: bold; */
  width: 60px;
  height: 25px;
  margin: 10px 0 10px 5px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

/* board__page */
.board__page {
  display: flex;
  justify-content: center;
}

/* .board__page--select a {
  margin: 0 3px;
  font-size: 13px;
}

.board__page--select a:hover{
  background-color: var(--mainBtn-color-gre);
  border-radius: 5px;
} */

.community-page-item {
  margin: 0 3px;
  font-size: 13px;
}

.community-page-item:hover {
  background-color: var(--mainBtn-color-gre);
  border-radius: 5px;
}

/* board__search */
.board__search {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.board__search .board__search-box {
  display: flex;
}

.board__search .board__search-box div {
  margin: 0px 3px;
}

.board__search-box select {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid var(--mainBtn-color-gre);
}

.board__search-box .board__search-keyword {
  border: 1px solid var(--mainBtn-color-gre);
  border-radius: 8px;
  padding: 1px;
}

.board__search-box .board__search-keyword input {
  border: none;
}

.board__search-box .board__search-keyword .search__search-icon{
  border:none;
  background-color: transparent;
}

.board__search .board__search-box .board__search-keyword i {
  color: gray;
}