@charset "utf-8";

/* * {
  outline: 1px solid green;
} */

button:hover {
  cursor: pointer;
}

textarea:focus {
  outline: none;
}

/* report-wrapper */
.report-wrapper {
  border: 1px solid black;
  width: 450px;
  height: 450px;
  padding: 25px;
  margin: 25px;
  box-sizing: content-box;
  /*팝업창 만들고 삭제할 속성*/
}

/* report-header */
.report__title {
  text-align: center;
  margin: 0 0 35px 0;
}

/* report-main */
.report__reason .report__reason-select {
  width: 100%;
  height: 50px;
  text-align: center;
  border: 1px solid var(--main-color-gre);
  border-radius: 8px;
  margin-bottom: 10px;
  color: var(--main-text-gre);
  font-size: 16px;
  font-weight: bold;
}

.report__reason .report__reason-select option {
  font-size: 16px;
}

.report__description-box .report__description {
  width: 450px;
  height: 200px;
  resize: none;
  box-sizing: border-box;
  border: 1px solid var(--main-color-gre);
  border-radius: 8px;
  margin-bottom: 10px;
}

/* report-footer */
.report-footer {
  display: flex;
  flex-direction: column;
}

.report__complete-btn,
.report__cancel-btn {
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  height: 40px;
  margin-bottom: 10px;
}

.report__complete-btn {
  background-color: var(--main-color-yel);
}

.report__cancel-btn {
  background-color: var(--mainBtn-color-gre);
}