@charset "utf-8";

/* * {outline:1px solid green;} */

.width--900px{
  width: 900px;
}

input:focus {
  outline:none;
}

textarea:focus {
  outline:none
}

button:hover {
  cursor: pointer;
}

select:focus{
  outline:none;
}

.bar {
  display: flex;
  width: 4px;
  height: 36px;
  background-color: var(--main-color-yel);
  margin-right: 10px;
}

//.ck.ck-editor{
//  min-height: 500px;
//}

//.ck-editor__editable {
//  min-height: 500px;
//}



/* board-write */

.board-write {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin : 100px 0px 200px 0px;
}

/* board-write__title */
.board-write__title{
  border-bottom:1px solid black;
}

.board-write__title h2 {
  padding:0px;
  margin:0px;
  display:flex;
  margin-bottom: 5px;
}

/* board-write__article-head */
.board-write__article-head {
  display:flex;
  margin: 20px 0;
}


.board-write__article-bullet{
  flex:1;
  margin-right: 10px;
}

.board-write__article-bullet select {
  width: 100%;
  height: 30px;
  border:1px solid var(--mainBtn-color-gre);
}

.board-write__article-title{
  flex:8;
}

.board-write__article-title input {
  width: 100%;
  box-sizing: border-box;
  height: 30px;
  border:1px solid var(--mainBtn-color-gre);
}

/* board-write__tool */

.board-write__tool {
  background-color: var(--main-color-gre);
}

.board-write__tool-box ul {
  display : flex;
  align-items: center;
  height: 30px;
}

.board-write__tool-box ul li {
  margin:0px 5px 0px 5px;
}

.board-write__tool-box ul li button{
  border:none;
}

.board-write__tool-box ul li button:hover {
  background-color: var(--mainBtn-color-gre);
  border-radius: 5px;
}

.board-write__tool-box ul li select {
  background-color: var(--main-color-gre);
  border:none;
}

.board-write__tool-box ul li select:hover{
  background-color: var(--mainBtn-color-gre);
  border-radius: 5px;
}


/* board-write__article-main */
.board-write__article-content{
  width: 100%;
  height: 500px;
  border:1px solid var(--mainBtn-color-gre);
  resize: none;
}

/* board-write__complete */
.board-write__complete{
  display: flex;
  justify-content: flex-end;
}

.board-write__complete button{
  width: 60px;
  height: 25px;
  margin:5px 0 10px 5px;
  border:none;
  border-radius: 8px;
  font-weight: bold;
}

#cancelBtn {
  background-color: var(--mainBtn-color-gre);

}

#addBtn {
  background-color: var(--main-color-yel);

}