@charset "UTF-8";

/* * { outline: 1px solid rosybrown; } */

.main {
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0px 5rem;
}

.product {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;
}

/* 상품사진(왼쪽) */
.product-img {
    width: 350px;
    height: 400px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    object-fit: cover;
}

/* 판매 정보(오른쪽) */
.product-info {
    width: 500px;
}

.product-info>.p_store {
    display: flex;
    align-items: center;
}

.product-info>.p_store .store-profile .store-profile_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.product-info>.p_store span {
    /* font-family: 'NanumBarunGothicLight'; */
    font-size: 14px;
}

.product-info>.p_middle>#discount_rate {
    color: rgb(235, 19, 3);
    font-weight: bold;
    font-size: 20px;
}

.product-info>.p_middle_bottom {
    text-decoration: line-through;
    color: var(--main-text-gre);
    font-size: 14px;
}

dl {
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-top: 1px solid rgb(244, 244, 244);
    font-size: 15px;
    margin-block-start: 1em;
    /* margin-block-end: 0em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* --------------------------------------- */
    padding-top: 15px;
    margin-bottom: 15px;
}

dl > dt {
    position: relative;
    top: 1px;
    width: 128px;
    height: 100%;
    font-weight: bold;
    /* line-height: 19px; */
}
.product-info > .product-btn {
    display:flex;
}
.product-info > .product-btn > .wrapBtn> button {
    height: 35px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}

.product-info > .product-btn > .wrapBtn > .product-btn--like {
    width: 50px;
    font-size: 20px;
}

.product-info > .product-btn > .wrapBtn > .product-btn--buy {
    width: 300px;
    background-color: var(--main-color-yel);
}

/* nav */
.tab-nab {
    /* =============================== */
    position: sticky;
    top: 126px;
    background-color: white;
    z-index: 3;
    /* =============================== */
    display: flex;
    /* width: 900px; */
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.tab-nab>.nav_tab {
    width: 100px;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 226, 230, 0.877);
}

/* 상품 정보 */
.goods_wrap>.goods_info {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 620px;
    margin-bottom: 40px;
}

.good_Img {
    width: 600px;
}

/* 지도 */
.goods_wrap>.goods_info > .store_location {
    width: 700px;
    height: 640px;
    position: relative;
    overflow: hidden;
}

#map {
    width: 100%;
    height: 550px;
}

.radius_border {
    border: 1px solid #919191;
    border-radius: 5px;
}

#map >.custom_zoomcontrol {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    overflow: hidden;
    background-color: #f5f5f5;
}

.custom_zoomcontrol>span {
    display: flex;
    width: 36px;
    height: 40px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.custom_zoomcontrol>span>img {
    width: 15px;
    height: 15px;
    display: flex;
}

.custom_zoomcontrol span:first-child {
    border-bottom: 1px solid #bfbfbf;
}


/* 버튼 */
.main>.goods_wrap>.product_page_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.product_page_btn .btn {
    width: 60px;
    height: 30px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    margin: 0 3px;
}