@charset "UTF-8";

/* 메인 구조 */
.main {display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;
       width: 700px; height: 625px;}


/* 타이틀 */
h2 {margin: 30px 0px 10px;}

/* 아이디 */
.id {display: flex; justify-content: space-evenly; align-items: center; margin: 5px 0px; outline: 1px solid #979797;
      width: 300px; height: 45px; border-radius: 8px;}
.id i {display: flex; justify-content: center;}
.id .bar {display: flex; width: 1px; height: 30px; background-color: #979797;}
.id input {display: flex; vertical-align: 2px; border: none; width: 200px; height: 20px; margin: 0; font-size: 13px;}
.id input:focus {outline: none;}
.id input::placeholder {font-size: 13px;}

/* 비밀번호 */
.pw {display: flex; justify-content: space-evenly; align-items: center; margin: 5px 0px; outline: 1px solid #979797;
      width: 300px; height: 45px; border-radius: 8px;}
.pw i {display: flex; justify-content: center;}
.pw .bar {display: flex; width: 1px; height: 30px; background-color: #979797;}
.pw input {display: flex; vertical-align: 2px; border: none; width: 200px; height: 20px; margin: 0; font-size: 18px;}
.pw input:focus {outline: none;}
.pw input::placeholder {font-size: 13px;}

/* 비밀번호 확인 */
.pwc {display: flex; justify-content: space-evenly; align-items: center; margin: 5px 0px; outline: 1px solid #979797;
      width: 300px; height: 45px; border-radius: 8px;}
.pwc i {display: flex; justify-content: center;}
.pwc .bar {display: flex; width: 1px; height: 30px; background-color: #979797;}
.pwc input {display: flex; vertical-align: 2px; border: none; width: 200px; height: 20px; margin: 0; font-size: 18px;}
.pwc input:focus {outline: none;}
.pwc input::placeholder {font-size: 13px;}

/* 재설정 완료 버튼 */
.confirm-btn {width: 300px; height: 45px; border: none; border-radius: 5px; letter-spacing: 2px; margin-top: 30px;
              font-size: 15px; font-weight: bold; background-color: var(--main-color-yel); color: #fff;}


/* 모달 팝업 */
.background {position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.2); z-index: -1; opacity: 0;}
.wrap-pop-up {position: relative; width: 100%; height: 100%;}
.pop-up {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
         width: 500px; height: 300px; text-align: center; background: #fff;}

/* 버튼 클릭 시 팝업 등장 */
.show {z-index: 1000; opacity: 1; transition: all 0.5s;}
.show .pop-up {transform: translate(-50%, -50%); transition: all 0.5s;}

/* 모달 팝업 레이아웃 */
.pop-up {display: flex; flex-direction: column; align-items: center;}
.pop-up .title {padding: 80px 0px;}
.location-choice {display: table; table-layout: fixed; width: 100%; height: 70px; color: white;}
.location-choice :nth-child(1) {background: #979797;}
.location-choice :nth-child(2) {background: var(--main-color-yel);}
.location-choice a {display: table-cell; position: relative; vertical-align: middle; text-align: center;
                    border: none; letter-spacing: 2px;}